@import '/src/app/[lng]/variables';

.tabs-component {

  .tabs-component {
    &__tabs {
      background-color: $cream;
      display: flex;
      overflow-x: auto;
      color: $blue-700;

      .tabs {
        &__tab {
          padding: 16px;
          font-size: 16px;
          font-family: $subtitle-font;
          width: 50%;
          font-weight: 700;
          flex-shrink: 0;
          text-align: center;
          cursor: pointer;

          @media screen and (min-width: $min-tablet) {
            font-size: 20px;

          }
        }

        &__tab-active {
          border-bottom: 3px solid $orange-500;
        }
      }
    }

  }
}