@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';


.profile-login {
  &__hero {
    padding: 34px 16px;
    text-align: center;
    position: relative;

    .hero {

      &__image,
      &__background-color {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
      }

      &__background-color {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 16px;
      }

      &__title {
        margin-bottom: 16px;
        color: $white;
        font-family: $subtitle-font;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        & p {
          font-weight: bold;
        }
      }

      &__description {
        color: $white;
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 28px;
      }

      &__buttons {
        justify-content: center;
      }
    }
  }

  &__buttons {
    .wonder-logo {
      text-align: center;
      padding: 2rem 1erm;
    }

    .buttons {
      &__btn {
        display: flex;
        justify-content: space-between;
        padding: 18px 16px;
        align-items: center;
        border-bottom: 1px solid $grey-300;
        text-decoration: none;
        color: $blue-700;
        font-family: $subtitle-font;
        font-size: 16px;

        .arrow {
          left: auto;
        }

        .btn__title {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  &__hero-account {
    padding: 34px 16px;
    text-align: center;
    position: relative;
    min-height: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-account {

      &__image,
      &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
      }

      &__background {
        background-color: rgba(0, 0, 0, 0.327);
      }

      &__image {
        object-fit: cover;
      }

      &__name {
        margin-bottom: 16px;
        color: $white;
        font-family: $subtitle-font;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      &__welcome {
        width: 328px;
        color: $white;
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 28px;
      }

    }
  }

  &__complete-percentage {
    margin-top: 1.5em;
    padding: 1rem;

    .complete-percentage {
      &__content {

        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0.5em;
        font-family: $subtitle-font;

        .content {

          &__title {
            font-size: 0.9em;

            color: $blue-700;
          }

          &__percentage {
            color: $blue-700;
            font-size: 1.8em;
          }
        }
      }

      &__description {
        font-family: $secondary-font;
        color: $blue-700;
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    @include wonder-grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 24px 48px;
    height: 100vh;

    &__hero-account,
    &__hero {
      position: relative;
      grid-column: 1 / span 6;
      grid-row: 1 / -1;

      img {
        height: 100%;
        width: 100%;
        margin: auto;
        max-width: 722px;
        object-fit: cover;
        border-radius: 16px;
      }

      .hero-account {
        &__background {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 16px;
          text-align: center;
          background: linear-gradient(0deg,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0.5) 100%);
        }

        &__name {
          color: $white;
          font-family: $subtitle-font;
          font-size: 38px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-align: center;
        }

        &__welcome {
          width: 444.167px;
          color: $white;
          font-family: $subtitle-font;
          font-size: 24px;
        }
      }
    }

    &__hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__buttons {
      grid-column: 7 / -1;
      grid-row: 1 / -1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__complete-percentage {
      margin-top: 1.5em;

      .complete-percentage {
        &__content {

          font-size: 20px;
        }
      }
    }
  }
}

header.menu-sticky {
  position: sticky;
}