@import "src/app/[lng]/_variables";

.deals {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $blue-700;
    font-size: 16px;
    font-family: $subtitle-font;
    font-weight: 700;
    justify-content: flex-end;
    text-align: end;


    &>input {
        width: 100%;
        height: 26px;
        min-width: 48px;
        max-width: 48px;
        border-radius: 15px;
        background-image: none;
        position: relative;
        flex: 1 1 32px;

        &:checked {
            background-image: none;

            &::before {
                content: "";
                background-color: $orange-500;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                border-radius: 50%;
                transition: left 0.4s ease-in-out;
            }

            &::after {
                content: "On";
                height: 100%;
                position: absolute;
                display: flex;
                font-family: $secondary-font;
                align-items: center;
                left: 5px;
                top: 0;
                color: $blue-700;
            }
        }

        &::before {
            content: "";
            color: $white;
            background-color: #737373;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            transition: left 0.4s ease-in-out;

        }
    }

    @media screen and (min-width: $min-desktop) {
        font-size: 20px;

        &>input {
            min-width: 52px;
            height: 28px;
        }

        &>input {
            max-width: 55px;
        }
    }
}