@import '/src/app/[lng]/variables';

.container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000059;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 60;
    padding: 1em;

    &__modal {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 300px;
        width: 500px;
        height: auto;
        background-color: white;
        border-radius: 8px;
        padding: 24px;
        gap: 20px;

        .modal {

            &__content {
                display: flex;
                flex-direction: column;
                gap: 12px;

                h3 {
                    font-size: 20px;
                    text-align: center;
                }

                p {
                    text-align: center;
                    font-size: 14px;
                }
            }
        }

    }

    @media screen and (min-width: $min-tablet) {
        &__modal {
            padding: 32px;

            section {
                img {
                    width: 64px;
                    height: 64px;
                }
            }

            .modal {

                &__content {

                    h3 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}