@import '/src/app/[lng]/variables';

.slider {
  position: relative;
  width: 100%;
  height: 195px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 32px;
}

.slideContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  // background-color: rgba(128, 128, 128, 0.335);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  img {
    width: 8px;
    height: auto;
  }

  &:hover {
    background-color: rgba(128, 128, 128, 0.516);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.prevButton {
  left: 36px;
}

.nextButton {
  right: 10px;
}

@media screen and (min-width: $min-tablet) {

  .slider {
    height: 395px;
  }

  .slideContainer {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;

    img {
      display: -ms-inline-grid;
      display: -moz-inline-grid;
    }

    img:first-child {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  .prevButton,
  .nextButton {
    img {
      width: 24px;
    }
  }

  .nextButton {
    right: 24px;

  }
}