@import '/src/app/[lng]/variables';

@keyframes animateText {
    0% {
        width: 0;
        display: inline-block;
    }

    100% {
        width: 9rem;
    }

}

@keyframes animateTextDesktop {
    0% {
        width: 0;
        display: inline-block;
    }

    100% {
        width: 14rem;
    }

}

.title {
    position: relative;
    padding-top: 0px;
    color: $white;
    margin-bottom: 24px;


    span {
        padding: 0 6px;
        color: $orange-500;
        font-weight: 700;
        background-color: $white;
        font-family: $primary-font;
        display: inline-block;
        border-radius: 8px;
    }
}

@media screen and (min-width: $min-tablet) {
    .title br {
        display: none;
    }
}

.title-animation {
    span {
        animation: animateText 800ms 0.1s ease-in-out;
        animation-fill-mode: backwards;
    }

    @media screen and (min-width: $min-tablet) {
        span {
            animation: animateTextDesktop 800ms 0.1s ease-in-out;
            animation-fill-mode: backwards;

        }

    }
}