@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';

.link-trip {
  width: 100%;
  min-width: 264px;
  text-decoration: none;
  flex-shrink: 0;

  &__card-trip {
    display: grid;
    gap: 8px;
    grid-template-columns: 118px 1fr;
    grid-template-rows: 130px;
    gap: 16px;
    padding: 8px;
    background-color: $cream;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-family: $secondary-font;

    .card-trip {
      &__feature-image {
        width: 118px;
        height: 100%;
        display: block;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      &__content {
        position: relative;
        display: grid;
        grid-template-rows: 2.2rem 36px repeat(4, auto);
        grid-auto-rows: 1rem;

        .content {
          &__title {
            font-size: 14px;
            font-weight: 700;
            font-family: $secondary-font;
            margin-bottom: 4px;
            padding: 0;
            grid-row: 1 / span 1;
            overflow: hidden;
            text-overflow: ellipsis ellipsis;
            height: 100%;
          }

          &__countries {
            display: flex;
            align-self: center;
            grid-row: 2 / span 1;
            font-family: $secondary-font;
            align-items: center;

            .countries__names {
              color: var(--blue-Blue-700, #23174b);
              text-align: center;
              font-family: $secondary-font;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          &__from {
            color: $blue-700;
            font-family: $secondary-font;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 10.15px;
            grid-row: 4 / span 1;
            align-self: end;

            &.have-disccount {
              grid-row: 3 / span 1;
            }
          }

          &__price-disccount {
            color: $blue-700;
            font-family: $secondary-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: line-through;
            align-self: end;
            grid-row: 4 / span 1;
          }

          &__price {
            color: $blue-700;
            font-family: $secondary-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            grid-row: 5 / span 1;

            align-self: end;
          }

          &__per-person {
            color: $blue-700;
            font-family: $secondary-font;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 10.15px;
            grid-row: 6 / span 1;
            align-self: end;
          }

          &__days {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $blue-700;
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 12px;

            p {
              color: $white;
            }
          }
        }
      }

      &__travel-style {
        position: absolute;
        top: 56px;
        right: 8px;
        background-color: $white;
        padding: 4px 8px 4px 24px;
        color: $blue-700;
        text-decoration: none;
        border-radius: 24px 8px 8px 24px;
        font-size: 12px;


        &:before {
          content: '';
          width: 8px;
          height: 8px;
          background-color: $blue-700;
          border-radius: 50%;
          position: absolute;
          left: 6px;
          top: 7px;
        }
      }

      &__ribbon {
        @include Discount();
        transform: rotate(-45deg);
        left: -36px;
        top: 16px;
      }
    }

    &:hover {
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      transform: scale(1.03);
      box-shadow: 1.996px 1.996px 1.526px 0px rgba(0, 0, 0, 0.11);
    }

    @media screen and (min-width: $min-tablet) {
      min-width: 194px;
      min-height: 287px;
      grid-template-columns: 1fr;
      grid-template-rows: 136px 24px 1fr;
      padding: 0;

      .card-trip {
        &__feature-image {
          grid-row: 1 / 3;
          grid-column: 1 / -1;
          width: 100%;
        }

        &__content {
          grid-row: 2 / -1;
          grid-column: 1 / -1;
          padding: 8px;
          background-color: $cream;
          border-radius: 8px 8px 0 0;

          .content {
            &__title {
              max-width: 75%;
            }

            &__days {
              top: 8px;
              right: 8px;
              bottom: initial;
              font-size: 14px;
            }

            &__per-person {
              align-self: start;
            }
          }
        }

        &__travel-style {
          top: 8px;
          right: 8px;
        }
      }
    }
  }
}

.slider-trips-scroll::-webkit-scrollbar,
.orange-scroll::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px;
}

.slider-trips-scroll::-webkit-scrollbar-thumb,
.orange-scroll::-webkit-scrollbar-thumb {
  background-color: $orange-500;
  border-radius: 10px;
}