@import "/src/app/[lng]/variables";

.why {
    position: relative;
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: $min-desktop;
        padding: 16px;

        &>h2,
        &>p {
            color: $white;
        }

        &>h2 {
            font-size: 24px;
        }

        &>p {
            font-size: 16px;
        }

        .content {

            &__targets {
                display: grid;
                grid-template-columns: repeat(1, minmax(100px, 420px));
                gap: 42px;
                justify-content: center;
                align-items: stretch
            }
        }
    }

    @media screen and (min-width: $min-tablet) {
        &__content {
            gap: 20px;
            padding: 26px 48px;

            &>h2 {
                font-size: 32px;
            }

            &>p {
                font-size: 20px;
            }

            .content {


                &__targets {
                    grid-template-columns: repeat(2, minmax(100px, 420px));
                    justify-content: space-between;
                }
            }
        }
    }
}

.target {
    flex: 1 1 300px;
    background-color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 16px;
    gap: 16px;

    &__texts {
        width: 55%;
        flex: 1 1 208px;

        h3 {
            font-size: 14px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            text-align: justify;
        }
    }

    @media screen and (min-width: $min-tablet) {
        &__texts {
            width: 70%;

            h3,
            p {
                font-size: 16px;
            }
        }
    }
}