@import '/src/app/[lng]/variables';

.empty-state {

  &__title,
  &__description,
  &__cta {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    font-size: 14px
  }

  &__image {
    width: 100%;
    height: 223px;
    border-radius: 8px;
    margin-bottom: 24px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__cta {
    width: 100%;
    cursor: pointer;
  }

  @media screen and (min-width: $min-tablet) {
    &__image {
      height: 308px;
      margin-bottom: 32px;

    }

    &__title {
      font-size: 24px;
    }

    &__description {
      font-size: 16px
    }
  }
}