@import '/src/app/[lng]/variables';

.button-w {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: $orange-500;
  border-radius: 50%;
  padding: 8px;
  z-index: 1000;

  img {
    margin-bottom: -4px;
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: $min-tablet) {
    bottom: 24px;
    right: 24px;

    img {
      width: 56px;
      height: 56px;
    }
  }
}
