@import '/src/app/[lng]/variables';

.step {
  font-family: $secondary-font;

  &--complete, &--actual {
    background-color: $blue-700;
    width: 24px;
    height: 24px;
    display: flex;
    padding: 6px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    color: $white;
  }

  &--actual {
    background-color: $orange-500;
  }

  &--incomplete {
    border-radius: 6px;
    border: 1px solid $blue-700;
    width: 24px;
    height: 24px;
    display: flex;
    padding: 6px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    color: $blue-700;
  }
}