@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.dates-booking {
  h2 {
    margin-bottom: 16px;
    @include title(h4);
  }

  &__text{
    margin-bottom: 16px;
  }
  fieldset {
    border: none;
    padding: 0;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      margin-bottom: 16px;
    }

    p {
      text-align: left;
      width: 100%;
      color: $blue-700;
    }

    button {
      margin-top: 24px;
    }
  }
}

.item-dates {
  padding: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 24px ;
  grid-template-rows: auto auto;
  column-gap: 8px;
  width: fit-content;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 5px;


  &.checked {
    border: 1px solid $orange-500;
  }

  &:hover {
    background-color: $orange-100;
  }

  .date-1,
  .date-2 {
    font-family: $primary-font;
    color: $blue-700;
    font-size: 16px;
  }

  .label-date-1,
  .label-date-2 {
    font-size: 12px;
  }

  .label-date-1 {
    grid-area: 1 / 1 / 1 / 1;
  }

  .date-1 {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .label-date-2 {
    grid-area: 1 / 2 / 1 / span 1;
  }

  .date-2 {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  .label-price {
    grid-area: 1 / 3 / span 1 / span 1;
  }

  .price {
    font-size: 20px;
    font-family: $secondary-font;
    width: 100%;
    grid-area: 2 / 3 / span 1 / span 1;
    font-size: 20px;
  }

  input {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    grid-area: 1 / 3 / -1 / span 1;
    place-self: center;

    &[type='radio'] {
      margin-right: 0;
    }
  }
}

.picker {
  margin: auto;
  width: fit-content;
  font-family: var(--font-montserrat);
  color: $blue-700;

   td {
    border-radius: 50%;
  }

   td[class='rdp-day rdp-disabled'] button {
    background-color: $white;
  }

  td[class='rdp-day rdp-range_start rdp-selected'],
  td[class='rdp-day rdp-range_end'],
  [class='rdp-day rdp-range_middle'] [class='rdp-day_button'] {
    background-color: $orange-100;
    border-radius: 50%;
  }


}