@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';

.card-trip {
  position: relative;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: 332px;
  height: 360px;
  flex: 0 0 280px;
  font-size: 16px;
  position: relative;

  &:hover .feature-image {
    scale: 1.1;
  }


  .feature-image {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ddd;
    background-size: cover;
    z-index: 0;
    transition: all .25s;

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(179.77deg, rgba(0, 0, 0, 0.1628) 41.43%, rgba(0, 0, 0, 0.44) 58.51%, rgba(0, 0, 0, 0.44) 92.08%);
      position: absolute;
    }
  }

  .box-info {
    align-self: end;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: rgba(244, 243, 239, 0.32);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    color: $white;
    gap: 6.27px;
    display: flex;
    flex-direction: column;
    font-family: --ubuntu;

    &__title {
      color: inherit;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 95%;
    }

    &__subtitle {
      font-size: 12px;
      color: white;
    }

    &__share {
      position: absolute;
      right: -10px;
      top: 5px;
    }

    &__top {
      padding: 0rem 0 1rem;
    }

    &__title {
      margin: 0;
      font-size: 14px;
    }

    &__date {
      color: white;
      font-size: 11px;
    }

    &__date {
      font-weight: 700;

    }

    &__content-travelers {
      display: flex;
      gap: 1em;

      .content-travelers {

        &__days {
          color: white;
          font-size: 11px;
        }
      }
    }

    &__actions {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      font-family: Montserrat;

      a button {
        font-size: 9px;
        padding: 8px 12px;
      }

    }

    @media screen and (min-width: $min-tablet) {
      width: 332px;

      &__title {
        font-size: 18px;
      }

      &__subtitle {
        font-size: 16px;
      }

      &__days,
      &__date {
        font-size: 14px;
      }

      &__actions {
        align-items: center;

        a {
          button {
            font-size: 14px;
          }
        }
      }

    }

    &__dates {
      padding: 0;
      list-style: none;
      display: flex;
      margin: 0;
      flex-wrap: wrap;

      li {
        background-image: url("/assets/images/calendar/date-range.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        padding: 0 0 5px 20px;
        font-weight: 600;
        box-sizing: border-box;
        width: 50%;
        font-size: 12px;
      }
    }


  }

  @media screen and (min-width: $min-tablet) {
    width: 332px;

  }
}