@import '/src/app/[lng]/variables';

.contentInput {
    display: flex;
    flex-direction: column;
    max-height: 37px;

    &__input {
        height: 100%;

        &::placeholder {
            color: $blue-200;
        }

    }

    &__input--error {

        border: 1px solid $error;
    }



    &__input--dark::placeholder {
        color: $blue-700;

    }

    &__message {
        font-size: 0.7em;
        color: $error;
        font-family: $secondary-font;
    }
}