@import "/src/app/[lng]/variables";

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
}


.cta {
    border-radius: 4px;
    padding-top: 2rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;

    &>h3 {
        text-align: center;
        font-size: 20px;
    }

    &>button {
        max-width: 300px !important;
    }

    @media screen and (min-width: $min-tablet) {
        font-size: 22px;

    }
}