@import '/src/app/[lng]/variables';

.sign-in {
  padding: 16px;

  &__title {
    width: 328px;
    color: $blue-700;
    font-family: $subtitle-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
  }

  &__description {
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
  }
}

.last-trips {
  padding: 20px 16px;

  .last-trips {
    &__with-account {
      .with-account {
        &__cta {
          width: 100%;
        }

        &__cards {
          margin-bottom: 8px;
        }

        &__empty {
          display: flex;
          flex-direction: column;
          margin-bottom: 16px;
          gap: 1em;

          .empty {

            &__title {
              font-size: 20px;
              font-weight: 700;
              color: $blue-700;
            }

            &__description {
              color: $blue-700;
              font-size: 14px;
            }

            @media screen and (min-width: $min-tablet) {
              &__title {
                font-size: 24px;
              }

              &__description {
                font-size: 16px;
              }
            }
          }

          img {
            width: 100%;
            height: 50%;
            border-radius: 12px;
          }

        }
      }
    }
  }
}