@import "/src/app/[lng]/variables";

.input {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;

    input[type="date"] {
        text-align: center;
        text-transform: lowercase;
        color: $black-045;
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, .102);
        font-weight: 700;
        padding: 12px 16px;
        position: relative;
        -webkit-text-fill-color: $black-045;
        min-width: 200px;

        &::placeholder {
            color: $black-045;
        }

        &::-webkit-input-placeholder {
            color: $black-045;
        }

        &::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        &::-webkit-calendar-picker-indicator {
            display: block;
            bottom: 0;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
    }

    label {
        font-weight: 500;
        font-size: 12px;
    }

    @media screen and (min-width: $min-tablet) {
        label {
            font-size: 14px;
        }

        input[type="date"] {
            min-width: 130px;
        }
    }
}