@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';


.link-trip {
    width: 100%;
    text-decoration: none;
    max-width: 28rem;
    position: relative;
    min-height: 9rem;

    &__card-trip {
        display: grid;
        grid-template-columns: 1fr 150px;
        gap: 8px;
        height: fit-content;
        width: 100%;
        background-color: $white;
        color: $blue-700;
        border-radius: 8px;
        height: 100%;

        .card-trip {
            &__feature-image {
                border-radius: 8px;
                overflow: hidden;
                height: 100%;
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: #ddd;
                background-size: cover;
                z-index: 0;
                transition: all 0.25s;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before {
                    display: none;
                }
            }

            &__box-info {
                position: relative;
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
                font-size: 10px;
                width: 100%;
                background-color: transparent;
                color: $blue-700;
                padding: 8px;


                .box-info {
                    &__top {
                        padding-bottom: 0;

                        .top {
                            &__title {
                                line-height: 15px;
                                color: $blue-700;
                                min-height: fit-content;
                                font-size: 12px;
                                margin-bottom: 8px;
                                font-family: $primary-font;
                            }
                        }
                    }

                    &__actions {
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 6px;
                        font-weight: 700;
                        position: absolute;
                        bottom: 0.7rem;
                        right: 0.7rem;

                        .actions {


                            &__days {
                                background-color: $blue-700;
                                color: $white;
                                font-size: 10px;
                                border-radius: 10px;
                                padding: 5px 7px;
                                margin-top: 3px;
                                display: inline-block;
                            }
                        }
                    }

                    &__dates {
                        padding: 0;
                        list-style: none;
                        display: flex;
                        margin: 0;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-top: 6px;
                        row-gap: 4px;

                        li {
                            background-image: url('/assets/icons/calendarBlack-icon .svg');
                            background-repeat: no-repeat;
                            background-position: -2px 0;
                            padding-left: 14px;
                            font-weight: 600;
                            box-sizing: border-box;
                            width: 50%;
                            font-size: 11px;
                            height: 14px;
                            background-size: 12px;
                            background-position: inherit;
                            width: auto;
                            text-wrap: balance;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: $min-tablet) {
        &__card-trip {
            border-radius: 16px;
            overflow: hidden;
            width: 100%;
            min-width: 250px;
            height: 348px;
            font-size: 16px;
            background-color: $black;
            flex-shrink: 0;
            display: flex;
            justify-content: center;


            .card-trip {
                &:hover &__feature-image img {
                    transition-duration: 200ms;
                    transition-timing-function: ease-in-out;
                    scale: 1.1;
                }


                &__feature-image {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 50%;
                    background-color: #ddd;
                    background-size: cover;
                    z-index: 0;
                    transition: all 0.25s;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-image: linear-gradient(to bottom, transparent, $black);
                        width: 100%;
                        height: 4rem;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                &__box-info {
                    width: 94%;
                    min-height: 50%;
                    position: absolute;
                    bottom: 10px;
                    background: rgba(244, 243, 239, 0.32);
                    backdrop-filter: blur(3.3698782920837402px);
                    border-radius: 12px;
                    padding: 15px;
                    color: $white;

                    .box-info {
                        &__top {
                            .top {

                                &__title {
                                    line-height: 24px;
                                    font-size: 18px;
                                    color: $white;
                                    margin-bottom: 4px;
                                }
                            }
                        }


                        h3 {
                            color: inherit;
                        }

                        &__share {
                            position: absolute;
                            right: -10px;
                            top: 5px;
                        }


                        &__title {
                            margin: 0;
                            font-size: 16px;
                            min-height: 44px;
                        }

                        &__title-dates {
                            font-size: 14px;
                            margin-bottom: 8px;
                        }

                        &__dates {
                            margin-top: 10px;
                            row-gap: 12px;

                            li {
                                background-image: url('/assets/images/calendar/date-range.svg');
                                font-size: 12px;
                            }
                        }

                        &__actions {
                            font-size: 14px;
                            margin-bottom: 12x;

                            .actions {

                                &__days {
                                    font-size: 14px;
                                }
                            }

                        }
                    }

                }

            }

        }
    }
}

.slider-trips-scroll::-webkit-scrollbar,
.orange-scroll::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
}

.slider-trips-scroll::-webkit-scrollbar-thumb,
.orange-scroll::-webkit-scrollbar-thumb {
    background-color: $orange-500;
    border-radius: 10px;
}