@import "/src/app/[lng]/variables";

.travel-tips {
    padding: 0 24px;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: $min-desktop;

    &__list {
        padding-left: 2rem;
        margin-bottom: 1rem;

        li {
            list-style-type: disc;
            margin-bottom: 2px;
            font-size: 16px;
            color: $blue-700;
        }
    }

    @media screen and (min-width: $min-tablet) {
        padding: 0 48px;
        gap: 32px;

        &__list {
            margin-bottom: 3rem;

            li {

                font-size: 20px;
            }
        }
    }

    &__hr {
        width: 100%;
        height: 2px;
        background-color: $grey-300;
    }
}