@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.form-quantity-users {
  h2 {
    max-width: 80%;
    line-height: 28px;
    font-weight: 600;
    @include title(h4)

  }

  &__user-list {
    width: 100%;
    margin-top: 32px;

    h3 {
      margin-bottom: 8px;
      @include subtitle(2)
    }

    .user-list {
      &__foreign {
        margin-top: 40px;
      }

      &__desc-foreign {
        margin-bottom: 8px;
        color: $blue-700;
      }


      &__item {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .item {
          &__counter {
            margin: 0;
            width: 100%;
            max-width: 170px;
          }

          &__label {
            font-size: 16px;
            font-weight: 400;
            font-family: $primary-font;
            color: $blue-700;
            
            & p:first-child {
              color: $blue-700;
              font-size: 16px;
            }
            
            & p:last-child {
              color: $blue-700;
              font-size: 12px;
            }
          }
        }

      }
    }
  }

  @media screen and (max-width: $min-tablet) {

    h2 {
      max-width: 100%;
    }
    &__user-list {
      margin-top: 16px;
      h3 {
        max-width: 100%;
      }
    }
  }
}
