@import '/src/app/[lng]/variables';

.map {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
    grid-column: 3 span;
    width: 100%;

    a {
        color: $orange-500;
        font-family: $primary-font;
        font-size: 12px;
    }

    &__iframe {
        height: 400px;
        border-radius: 8px;
    }

    @media screen and (min-width: $min-tablet) {
        &__iframe {
            height: 480px;
        }
    }
}