@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.proposal {
  @include wonder-grid;
  margin-top: 80px;
  margin-bottom: 120px;

  &__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
  }

  &__cx {
    grid-column: 1 / span 4;
    position: relative;
  }
  &__authentic {
    grid-column: 5 / span 4;
    position: relative;
  }
  &__safety {
    grid-column: 9 / span 4;
    position: relative;
  }

  &__cx,
  &__authentic,
  &__safety {
    grid-row: 2 / span 1;
  }
  p.proposal__cx,
  p.proposal__authentic,
  p.proposal__safety {
    grid-row: 3 / span 1;
  }

  h3.proposal__cx,
  h3.proposal__authentic,
  h3.proposal__safety {
    font-size: 24px;
    line-height: 24px;

    &::before {
      position: absolute;
      font-size: 200px;
      color: $orange-050;
      margin: auto;
      top: -16px;
      top: 64px;
      width: 100%;
      text-align: center;
      font-family: $secondary-font;
      z-index: -1;
    }
  }

  h3.proposal__cx {
    &::before {
      content: '1';
    }
  }

  h3.proposal__authentic {
    &::before {
      content: '2';
    }
  }

  h3.proposal__safety {
    &::before {
      content: '3';
    }
  }

  @media screen and (max-width: $min-tablet) {
    padding: 0 16px;
    margin-top: 40px;
    margin-bottom: 40px;

    &__title,
    &__cx,
    &__authentic,
    &__safety {
      grid-column: 1 / -1;
      grid-row: span 1;
    }

    &__title {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 40px;
    }

    p.proposal__cx,
    p.proposal__authentic,
    p.proposal__safety,
    h3.proposal__cx,
    h3.proposal__authentic,
    h3.proposal__safety {
      grid-row: span 1;
    }

    p.proposal__cx,
    p.proposal__authentic,
    p.proposal__safety {
      padding-bottom: 40px;

    }
    h3.proposal__cx,
    h3.proposal__authentic,
    h3.proposal__safety {
      padding-top: 40px;
      margin-bottom: 8px;
      &::before {
        font-size: 170px;
        top: 90px;
      }
    }


  }
}
