@import '/src/app/[lng]/variables';

.modal-resume {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(204, 204, 204, 0.531);
  }



  --width: 450px;
  --height: 400px;

  &__info {
    width: var(--width);
    height: fit-content;
    background-color: $white;
    border-radius: 10px;
    color: $blue-700;
    position: absolute;
    top: calc(50vh - (var(--height) / 2));
    left: calc(50vw - (var(--width) / 2));
    padding: 24px;
    text-align: center;
    
    .info {
      &__name {
        font-size: 24px;
        margin-bottom: 16px;

      }

      &__btn-close {
        width: 100%;
        display: flex;
        justify-content: end;
        img {
          cursor: pointer;
        }
      }
      
      &__trip-name {
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
      }

      &__end-date {
        margin-bottom: 16px;
      }

      &__start-date,
      &__end-date {
        span {
          font-weight: 700;
          font-size: 20px;
        }
      }

      &__total-persons {
        margin-bottom: 16px;
      }

      &__title-important {
        color: $error;
        font-size: 24px;

      }
      &__important {
        margin-bottom: 20px;
      }
    }
  }
}
