@import '/src/app/[lng]/variables';

.featured-image {
    margin: 0;
    position: relative;
    width: 220px;
    height: 260px;
    min-width: 224px;
    top: 0;
    background-size: cover;
    border-radius: 9px;

    &::after {
        background: linear-gradient(179deg, transparent 40%, rgb(0 0 0 / 40%) 60%, rgba(0, 0, 0, .4) 40%, #000);
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.40);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 9px;
    }

    .featured-image {
        &__image {
            width: 100%;
            height: 100%;
            border-radius: 9px;
            object-fit: cover;

            img {
                object-fit: cover;
            }
        }

        &__caption {
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 0;
            padding: 12px 20px;
            padding-top: 0px;
            line-height: 1.7rem;


            h2,
            p {
                color: $white;
            }

            h2 {
                font-size: 20px;
                margin-bottom: 4px;

            }

            p {
                font-size: 16px;
                line-height: 21px;
            }
        }
    }

    @media screen and (min-width: $min-tablet) {
        width: 333px;
        height: 420px;
        min-width: 320px;
        padding: 15px;

        .featured-image {
            &__caption {
                position: absolute;
                bottom: 0px;
                padding: 24px;
                padding-top: 0px;
                line-height: 2rem;
                height: 25%;

                h2 {
                    font-size: 28px;
                    margin-bottom: 10px;
                    padding-bottom: 0px;
                }

                p {
                    font-size: 20px;
                    line-height: 26px;

                }
            }
        }
    }
}