@import '/src/app/[lng]/variables';

.wonder-impact-counter {
  position: relative;
  color: $white;

  &__content {
    position: relative;
    z-index: 10;
    padding: 3rem 1rem;
  }

  p {
    font-size: 20px;
  }

  h2 {
    color: $white;
    font-size: 38px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .wonder-impact-counter__counter {
    background: rgba(244, 243, 239, 0.40);
    background-image: linear-gradient(180deg, #F4F3EF 0%, #F4F3EF24 0%);
    border-radius: 26px;
    display: flex;
    padding: 20px 50px;
    gap: 30px;

    .__box {
      width: 100%;
      border-right: 1px solid rgba(255, 255, 255, 0.44);
      padding: 0 1rem;

      span,
      b {
        display: block;
        font-family: var(--font-montserrat);
      }

      &__label {
        font-size: 20px;
        font-weight: 600;
        padding: 0 0 15px 0;
      }

      &__value {
        font-size: 50px;
        font-weight: 700;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  @media screen and (max-width: 768px) {

    &__content {
      padding: 1rem;
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }

    img {
      padding: 0;
    }

    .wonder-impact-counter__counter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;

      .__box {
        &__label {
          font-size: 14px;
        }

        &__value {
          font-size: 24px;
        }

        &:nth-child(2) {
          border-right: none;
        }
      }
    }
  }
}