@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';

.filters-search {
  position: sticky;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__filters-menu {
    overflow: auto;
    height: 100%;
    max-height: 68vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
    width: 100%;

    @media screen and (min-width: $min-tablet) {
      padding-right: 10px;
    }

    &::-webkit-scrollbar {
      width: 0.2em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $orange-500;
    }

    nav {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;

      .filter {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
          font-size: 14px;

          @media screen and (min-width: $min-tablet) {
            font-size: 16px;
          }

        }
      }

      button {
        display: flex;
        align-items: center;
        font-weight: 600;

        img {
          margin-right: 10px;
        }
      }
    }

  }

  &__reset {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 8px 14px;
    width: 84%;
    border-radius: 8px;
    font-family: $primary-font;
    font-size: 14px;
    margin-top: 1rem;
    text-align: center;
    border: 1px solid;
  }
}

.title {
  font-size: 14px;
  font-family: $primary-font !important;
  font-weight: 600 !important;

  @media screen and (min-width: $min-tablet) {
    font-size: 16px;
  }
}