@import '/src/app/[lng]/variables';


.footer {
  position: relative;
  width: 100vw;

  &_wrap {
    position: relative;
    padding: 56px 16px 56px;
    margin: 0 auto;
    color: $white;
    max-width: 1280px;

    .footer {
      &__logo {
        margin-bottom: 20px;
      }

      &__title {
        font-size: 24px;
        color: $white;
        margin-bottom: 16px;
      }

      &__contact-cta {
        margin-bottom: 24px;
        font-size: 12px;
      }

      &__contact-links {
        margin-bottom: 16px;

        &>div {
          display: flex;
          gap: 8px;
        }
      }

      &__legal {
        display: block;

        a {
          display: block;
          color: $white;
          margin-bottom: 8px;
        }
      }

      &__social {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

}

@media screen and (min-width: $min-tablet) {
  .footer {
    &_wrap {
      padding: 82px;
    }

    .footer {
      &__logo {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
      }

      &__title,
      &__contact-trip,
      &__social,
      &__contact-links {
        grid-column: 1 / span 3;
      }

      &__contact-trip {
        grid-row: 2 / span 2;
      }

      &__contact-links {
        grid-row: 4 / span 2;
      }

      &__social {
        grid-row: 6 / span 2;
      }

      &__contact-cta {
        max-width: 150px;
      }

      &__newsletter {
        grid-column: 1 /span 4;
        grid-row: 3 / span 2;
      }

      &__form-hubspot {
        grid-column: 1 /span 4;
        grid-row: 2 / span 9;
      }

      &__legal-container {
        grid-row: 11 / span 1;
      }

      &__legal {
        grid-column: 1 / span 4;
        grid-row: 5/span 2;
      }
    }
  }
}