@import '/src/app/[lng]/variables';

.recomendations {
  margin-bottom: 56px;
  .recomendations {
    &__title {
      margin-bottom: 24px;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: $min-tablet) {
  .recomendations {
    .recomendations {
      &__title {
        font-size: 38px;
      }
    }
  }
}
