@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.testimonials {
    padding: 46px 20px;
    display: flex;
    justify-content: center;
    @include topography;

    &>h2 {
        align-self: flex-start;
        margin-bottom: 8px;
    }

    &__list {
        max-width: $min-desktop;
        display: flex;
        overflow: auto;
        padding-bottom: 16px;
        gap: 18px;
        width: 94vw;
        scroll-snap-type: x mandatory;
        margin-top: 1rem;
    }

    @media screen and (min-width: $min-tablet) {
        padding-top: 64px;

        &__list {
            gap: 26px;
        }
    }
}


.card-social {
    scroll-snap-align: center;
    background-color: $cream;
    padding: 28px 30px;
    border-radius: 13px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    max-width: 465px;

    &__commas {
        display: flex;
        margin-top: -10px;
        position: absolute;
        right: 24px;
        transform: rotate(180deg);

        & :last-child {
            margin-left: -12px;
        }

        i img:last-child {
            margin-left: -16px;
        }
    }

    &__pic {
        margin: auto;
        margin-bottom: 8px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        width: 52px;
    }

    &__content {
        gap: 16px;
        display: flex;
        flex-direction: column;

        .content {

            &__title {
                display: flex;
                gap: 4px;
                line-height: 100%;
            }

            &__country {
                font-size: 14px;
                font-weight: 600;
                line-height: 100%;
            }

            &__name {
                font-size: 16px;
                font-weight: 700;
                line-height: 100%;

                &--reviewGeneral {
                    font-size: 16px;
                }
            }
        }
    }


    &__comment {
        font-size: 14px;
        line-height: 130%;
        min-height: 36px;
    }

    @media screen and (min-width: $min-tablet) {
        max-width: 490px;
        width: 90%;

        &__content {
            gap: 16px;

            .content {

                &__country {
                    font-size: 16px;
                }

                &__name {
                    font-size: 20px;

                    &--reviewGeneral {
                        font-size: 20px;
                    }
                }
            }
        }

        &__comment {
            font-size: 16px;
            line-height: 130%;
            min-height: 36px;
        }
    }
}