@import '/src/app/[lng]/variables';
@import '../../mixin';

.categories {
    width: 100%;
    padding: 48px 16px;
    @include topography;

    &__ctas {
        gap: 24px;
        display: flex;
        flex-direction: column;
        max-width: 916px;
        margin: auto;
        width: 100%;
        margin-top: 32px ;
        button {
            min-width: 30%;
            width: 100%;
        }
    }

    @media screen and (min-width: $min-tablet) {
        &__ctas {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

            a:first-child {
                min-width: 30%;
                margin-left: 32px;
            }
        }
        padding: 8px 48px;
    }

    
}