@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.modal-promotion {
  position: relative;

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    width: 24px;
    height: 24px;
  }

  &__image {
    width: 300px;
    height: 300px;
    display: block;
    margin-bottom: 16px;
    border-radius: 10px;
  }

  &__button {
    position: relative;
    display: block;
    bottom: 76px;
    z-index: 10;
    text-decoration: none;
    text-align: center;


    a {
      @include button;
      width: fit-content;
      font-family: $primary-font;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      background-color: #F4F2EA;
      color: $orange-500;
    }

    margin: auto;
  }

  @media screen and (min-width: $min-tablet) {
    &__image {
      width: 500px;
      height: 500px;
    }

    &__button {
      bottom: 112px;

      a {
        font-size: 16px;

      }
    }
  }
}