@import '/src/app/[lng]/variables';

.last-trips {
  &__sign-up {

    padding: 16px;

    .sign-up {
      &__description {
        margin: 20px 0;
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 400;
      }

      &__basic-auth {
        padding: 40px 0;

        .basic-auth {
          &__title {
            width: 328px;
            color: $blue-700;
            font-family: $subtitle-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 12px;
          }

          &__form {
            .form {
              &__content {
                padding: 10px 0 20px 0;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .content {
                  &__user {
                    display: flex;
                    justify-content: space-between;
                    gap: 12px;

                    .user {

                      &__input-text {
                        width: 50%;
                      }
                    }

                  }

                  &__input-text {
                    width: 100%;
                  }

                  &__input-checkbox {
                    display: flex;
                    align-items: center;
                    padding-bottom: 2em;
                    flex-wrap: wrap;

                    label {
                      font-size: 14px;
                      padding: 10px;
                      font-weight: bold;
                      color: $orange-500;
                      font-family: $secondary-font;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &__description {
        margin: 20px 0;
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 400;
      }
    }

  }
}

.error-input {
  font-size: 12px;
  color: $error;
  width: 100%;
}