@import "/src/app/[lng]/variables";
@import "/src/app/[lng]/\(home\)/_mixin.scss";

.contact {
    display: flex;
    flex-direction: column;

    &__banner {
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        padding: 16px;

        .banner {

            &__description,
            &__title {
                color: $white;
                width: 60%;
            }

            &__title {
                font-size: 30px;
            }

            &__description {
                font-family: $secondary-font;
                font-size: 14px;
                line-height: 21px;
            }

        }
    }

    &__content {
        padding: 65px 48px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 42px;
        @include topography;

        .content {
            &__form {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;
                flex: 1 1 45%;
            }
        }
    }

    @media screen and (min-width: $min-tablet) {

        &__banner {
            padding: 48px;

            .banner {
                &__title {
                    font-size: 56px;
                }

                &__description,
                &__title {
                    width: 60%;
                }

                &__description {
                    font-size: 18px;
                    line-height: 27px;
                }
            }
        }

        &__content {
            flex-direction: row;
            flex-wrap: wrap;

            .content {
                &__form {
                    width: 45%;
                }
            }
        }
    }
}