@import '/src/app/[lng]/variables';

.card-post {
  font-family: $secondary-font;
  color: $blue-700;
  margin-bottom: 40px;

  &__image {
    width: 100%;
    height: 184px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
  }

  &__line {
    max-width: 80%;
    margin-bottom: 8px;
    border-color: transparent;
    border-bottom-color: $blue-700;
  }

  &__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
  }

  &__tags {
    display: flex;
    margin-bottom: 16px;
    color: $blue-400;
    font-size: 12px;
    p {
      border-right: 1px solid $grey-300;
      padding: 0 4px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right-color: transparent;
      }
    }
  }

  &__cta {
    margin-bottom: 8px;
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  &__date {
    color: $grey-300;
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__line-end {
    margin-bottom: 8px;
    border-color: transparent;
    border-bottom-color: $grey-300;
  }

  @media screen and (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(auto, 3rem) auto auto 1fr auto 1fr;
    column-gap: 16px;
    min-height: 314px;

    &__title,
    &__line,
    &__subtitle,
    &__line-end,
    &__tags,
    &__date {
      grid-column: 2 / span 1;
    }

    &__image {
      height: 100%;
      grid-row: 1 / -1;
      grid-column: 1 / span 1;
      border-radius: 5px;
    }

    &__title {
      grid-row: 2 / span 1;
    }

    &__line {
      grid-row: 3 / span 1;
    }

    &__subtitle {
      grid-row: 4 / span 1;
      -webkit-line-clamp: 3;

    }

    &__date {
      grid-row: 5 / span 1;
    }

    &__tags {
      grid-row: 6 / span 1;
    }

    &__line-end {
      grid-row: 7 / span 1;
    }

    &__line,
    &__line-end {
      border-bottom-color: transparent;
      border-top-color: $grey-300;
    }
  }
}
