@import "/src/app/[lng]/variables";

.mainActivities {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 24px;
    max-width: $min-desktop;
    width: 100%;

    p {
        color: $blue-700;
        font-size: 16px;
    }

    &__images {
        height: 180px;
        width: 100%;
    }

    @media screen and (min-width: $min-tablet) {
        gap: 32px;
        padding: 0 48px;

        p {
            font-size: 20px;
        }

        &__images {
            height: 341px;
        }
    }
}