@import '/src/app/[lng]/variables';

.personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 12px;

  &__first-name,
  &__last-name,
  &__document-number,
  &__date {
    input {
      width: 100%;
    }
  }

  &__first-name {
    grid-column: 1 / span 1;
  }

  &__last-name,
  &__document-number {
    grid-column: 2 / span 1;
  }

  &__submit,
  &__gender,
  &__nacionality,
  &__date {
    grid-column: 1 / -1;
  }

  &__submit {
    margin-top: 24px;

  }
}