@import '/src/app/[lng]/variables';

.step-by-step {
  display: flex;
  justify-content: space-between;
  color: $blue-700;
  cursor: pointer;
  
  &__step {
  display: flex;

    .step {
      &__title {
        display: none;
      }
      &__line {
        width: 8px;
        margin: 0 4px;
        svg {
          line {
            stroke: $orange-500;
            stroke-width: 15;
          }
        }

        &.last {
          display: none;
        }
      }

    }
  }

  @media screen and (min-width: $min-tablet) {
    flex-direction: column;

    &__step {
      display: grid;
      column-gap: 20px;
      grid-template-columns: 10% 1fr;
      
      .step {
        display: flex;
        flex-direction: column;

        &__number {
          margin: auto;
        }

        &__line {
          grid-column: 1 / span 1;
          transform: rotate(90deg);
          height: auto;
          margin: 0 auto;
          width: 8px;
        }
        
        &__title {
          display: block;
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
          font-family: $subtitle-font;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}
