@import '/src/app/[lng]/variables';

@mixin LegalContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  a {
    font-size: 12px;
    text-align: start;
    font-family: $primary-font;
  }

  @media screen and (min-width: $min-tablet) {
    align-items: flex-start;

    a {
      font-size: 16px;
    }
  }
}

.footer {
  position: relative;
  width: 100vw;
  width: 100%;
  height: 100%;
  overflow: hidden;

  a,
  h2,
  h3 {
    color: $white;
  }

  &__wrap {
    display: flex;
    position: relative;
    padding: 60px 48px;
    padding-bottom: 60px;
    margin: 0 auto;
    color: $white;
    max-width: 1280px;
    column-gap: 6rem;
    justify-content: center;
    flex-direction: column;

    .wrap {
      &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        img {
          width: 146px;
          height: 46px;
        }
      }

      &__contact {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        margin-bottom: 24px;

        a {
          width: fit-content;

          button {
            font-size: 12px;
            font-weight: 600;
          }
        }

        .contact {
          &__title {
            font-size: 16px;
          }

          &__legal-container {
            @include LegalContainer;
            margin-top: 32px;
            display: none;
          }
        }
      }

      &__trip {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: flex-start;

        a {
          font-size: 12px;
        }

        .trip {
          &__legal-container {
            @include LegalContainer;
          }

          &__links {
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: center;
            p {
              color: $white;

            }

            .links {
              &__title {
                font-size: 16px;
              }
            }
          }

          &__social {
            display: flex;
            gap: 18px;
            justify-content: center;

            a {
              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: $min-tablet) {
      width: 100%;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 80px;

      .wrap {
        &__logo {
          justify-content: flex-start;

          img {
            width: 247px;
            height: 84px;
          }
        }

        &__trip {
          margin: 0;
          align-items: flex-start;
          flex-grow: 1;

          a {
            font-size: 16px;
          }

          .trip {
            &__legal-container {
              display: none;
            }

            &__links {
              align-items: flex-start;
              gap: 12px;

              .links {
                &__title {
                  font-size: 20px;
                }
              }
            }

            &__social {
              justify-content: flex-start;

              a {
                img {
                  width: 49px;
                  height: 49px;
                }
              }
            }
          }
        }

        &__contact {
          align-items: flex-start;
          justify-content: center;
          order: 2;
          width: 40%;

          a {
            button {
              font-size: 16px;
            }
          }

          .contact {
            &__legal-container {
              display: flex;
            }

            &__title {
              font-size: 20px;
            }
          }

          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  &__bkg-img {
    overflow: hidden;

    img {
      border-radius: 2rem 2rem 0 0;
      top: 0;
      left: 0;
    }

    &::after {
      border-radius: 2rem 2rem 0 0;
      background: linear-gradient(
        179deg,
        rgba(0, 0, 0, 0.7) 0.54%,
        rgba(0, 0, 0, 0.7) 31.39%,
        rgba(0, 0, 0, 0.15) 98.91%
      );
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
}

