@import '/src/app/[lng]/variables';

.steps {
  padding: 16px;
  margin-bottom: 20px;

  &__info {

    .info {
      &__progress {
        display: grid;
        grid-template-columns: 1fr 20%;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2px;
        color: $blue-700;
        font-family: $secondary-font;
        margin-bottom: 20px;

        .progress {
          &__title {
            font-size: 14px;
            font-weight: 700;
          }

          &__subtitle {
            font-weight: 400;
          }

          &__date {
            color: $orange-500;
          }

          &__percentage {
            grid-column: 2 / span 1;
            grid-row: 1 / span 2;
            align-self: center;
            justify-self: center;
            font-family: $subtitle-font;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }

      &__list-steps {
        margin-bottom: 20px;
      }

    }
  }

  &__forms {
    position: relative;
    width: 100%;
    height: 100%;

    &>div {
      position: absolute;
      width: 100%;
    }

    .forms {
      &__title {
        color: $blue-700;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 16px;
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    display: flex;

    &__info,
    &__forms {
      width: 50%;
    }
  }
}