@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.CardPrice {
    position: sticky;
    bottom: -3px;
    background-color: $cream;
    padding: 12px 16px 12px 16px;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-between;
    font-weight: 700;
    flex-wrap: wrap;
    row-gap: 16px;
    display: flex;
    visibility: visible;
    overflow: hidden;

    &__discount {
        @include Discount;
    }

    &__price {
        .price {
            &__content {
                display: flex;
                align-items: center;
                flex-direction: column;
                column-gap: 12px;

                .content {
                    &__price {
                        @include Price($hasDiscount: true);
                        font-size: 20px;
                    }

                    &__priceDiscount {
                        @include Price($hasDiscount: false);
                        font-size: 20px;
                    }

                    &__value {
                        display: block;
                        font-size: 20px;
                    }

                    &__person {
                        font-weight: 500;
                        width: 100%;
                        font-family: $secondary-font;
                        font-size: 14px;
                    }
                }
            }

            &__from {
                font-size: 16px;
            }
        }
    }

    &__duration {
        display: flex;
        align-items: center;
        width: 7rem;
    }

    &__button {
        width: 100%;

        .button {
            &__content {
                width: fit-content;
            }
        }
    }

    @media screen and (min-width: $min-tablet) {
        display: none;
    }
}