@import '/src/app/[lng]/variables';

.contact-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 12px;

  &__email,
  &__country-residence,
  &__city,
  &__address {
    grid-column: 1 / -1;

    input {
      width: 100%;
    }
  }

  &__phone-code,
  &__phone-number {
    input {
      width: 100%;
    }
  }

  &__phone-code {
    grid-column: 1 / span 1;
  }

  &__phone-number {
    grid-column: 2 / span 1;
  }

  &__submit {
    grid-column: 1 / -1;
    display: flex;
    gap: 8px;
    width: 100%;
    margin-top: 24px;

    button {
      width: fit-content;
      padding: 8px 16px;
    }
  }

  @media screen and (min-width: $min-tablet) {
    &__submit {
      gap: 40px;
    }
  }
}