@import '/src/app/[lng]/variables';

.horizontal-scroll {
  overflow-x: auto;
}

.grid-trips {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 8px;
  position: relative;
  z-index: 0;
  padding: 4px;
}

.not-found {
  text-align: center;
  padding: 3rem;
}

@media screen and (max-width: 620px) {
  .grid-trips {
    display: flex;
    justify-content: flex-start;

    &.mobile-grid-trips {
      flex-wrap: wrap;
    }
  }
}