@import '/src/app/[lng]/variables';

.leaders {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: 52px;
    background-color: $cream;
    padding: 24px;
    border-radius: 16px 16px 0 0;

    &__image {
        margin-top: 4px;
        width: 100%;
        border-radius: 16px;
        height: 160px;
        object-fit: fill;
    }

    &__description,
    &__title,
    &__image {
        grid-column: 12 span;
    }


    @media screen and (min-width: $min-tablet) {
        gap: 32px;

        &__image {
            width: 246px;
            height: 258px;
            grid-column: 4 span;
        }

        &__description {
            grid-column: 8 span;
        }

        &__title {
            margin-bottom: 4px;
            grid-column: 12 span;
        }
    }
}