@import '/src/app/[lng]/variables';

.collapse {
    position: relative;

    h2 {
        color: $white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color: $orange-500;
        }
    }

    &__content {
        border-radius: 16px;
        padding: 24px;
        background-color: $white;
        position: absolute;
        display: grid;
        gap: 1em 2em;

        #content {

            &__link {
                color: $blue-700;
                font-weight: 500;


                &:hover {
                    color: $orange-500;
                }
            }

            &__viewAll {
                color: $blue-700;
                grid-column: 4 span;
                display: flex;
                gap: 0.5em;
                align-items: center;
                font-weight: 600;

                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 6px solid $blue-700;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    display: inline-block;

                }
            }
        }



    }
}

.outer {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    z-index: 60;
}