@import '/src/app/[lng]/variables';

.modal-date-validation {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(204, 204, 204, 0.531);
  }

  --width: 400px;
  --height: 400px;

  .info {
    padding: 16px;
    width: var(--width);
    height: fit-content;
    background-color: $white;
    border-radius: 10px;
    color: $blue-700;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    text-align: center;

    &__title {
      margin-top: 24px;
      margin-bottom: 16px;
      color: $blue-700;
      font-size: 24px;
    }

    &__text:last-of-type {
      margin-bottom: 32px;
    }

    &__btn-close {
      cursor: pointer;
      float: right;
    }

    &__btn-contact {
      margin-bottom: 8px;
      width: 100%;
    }
    &__btn {
      margin-bottom: 16px;
      width: 100%;
    }
  }
}