$text-color: #25252D;

@media screen and (min-width: 820px) {
  .mainContainer {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;

    .div {
      padding: 2px;
      margin-bottom: 1px;

      h4 {
        font-size: 24px;
        font-family: Montserrat;
        color: $text-color;
      }

      h3 {
        font-size: 32px;
        font-family: Montserrat;
        color: $text-color;
      }

      h1 {
        font-size: 64px;
        font-family: Montserrat;
        color: $text-color;
      }

      p {
        font-size: 24px;
        font-family: Montserrat;
        color: $text-color;
      }

      ul {
        margin-top: 20px;

        li {
          font-size: 24px;
          font-family: Montserrat;
          color: $text-color;
        }
      }
    }
  }
}