@import '/src/app/[lng]/variables';

.horizontal-scroll {
  overflow-x: scroll;
}

.grid-trips {
  display: flex;
  justify-content: flex-start;

  &.mobile-grid-trips {
    flex-wrap: wrap;
  }

  margin-bottom: 8px;
  position: relative;
  z-index: 0;
  padding: 4px;
  gap: 24px;
  padding-right: 0;


  @media screen and (min-width: 620px) {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }

  @media screen and (min-width: $min-tablet) {
    grid-template-columns: repeat(auto-fill, minmax(244px, 262px));
  }

  @media screen and (min-width: $min-desktop) {
    grid-template-columns: repeat(3, minmax(280px, 310px))
  }

  @media screen and (min-width: 1300px) {
    // grid-template-columns: repeat(4, minmax(280px, 350px));
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(250px, 310px));
  }
}

.not-found {
  text-align: center;
  padding: 3rem;
}