@import '/src/app/[lng]/variables';
@import '../../mixin.scss';

.categories-page {
  @include StylePage
}

.categories-page .background-gradient {
  background-image: linear-gradient(179deg, transparent 25%, rgb(32 32 32 / 36%) 70%, rgb(41 40 40 / 46%) 92.08%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.not-found {
  text-align: center;
  padding: 3rem;
}

.coupon {
  display: flex;
  align-items: center;
  gap: 1em;

  h2,
  span {
    color: $white;
    font-size: 38px;
    font-family: $subtitle-font;
    font-weight: 600;

    @media screen and (max-width: $min-tablet) {
      font-size: 28px;
    }
  }
}