@import "/src/app/[lng]/variables";



.carousel {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
    gap: 8px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &__content {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 50vw;
        min-width: 40vw;
        scroll-snap-align: center;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(181.32deg, rgba(0, 0, 0, 0) 31.93%, rgba(0, 0, 0, 0.4) 59.95%),
                linear-gradient(179.35deg, rgba(0, 0, 0, 0.09) 66.26%, rgba(0, 0, 0, 0.9) 83.19%, rgba(0, 0, 0, 0.9) 99.2%);
            border-radius: 8px;
        }

        .content {

            &__image {
                border-radius: 8px;
                object-fit: cover;
                width: 100%;
                height: 100%;

            }

            &__label {
                position: absolute;
                bottom: 12px;
                left: 12px;
                color: $white;
                display: flex;
                gap: 3px;
                display: flex;
                align-items: center;


                .label {

                    &__text {
                        font-size: 10px;
                    }

                    &__icon {
                        display: flex;

                        img {
                            width: 6px;
                            height: 8px;
                        }
                    }
                }
            }
        }
    }

    &__button {
        display: none;
        position: absolute;
        top: 40%;
        background-color: #424B5AD1;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 0;
        z-index: 10;

        img {
            width: 7px;
            height: 11px;
        }

        &--right {
            right: 13px;
        }

        &--left {
            left: 13px;
        }
    }

    @media screen and (min-width: $min-tablet) {
        gap: 12px;
        overflow-x: hidden;

        &__button {
            display: flex;
            width: 52px;
            height: 52px;
            align-items: center;
            justify-content: center;

            img {
                width: 16px;
                height: 26px;
            }

            &--right {
                right: 14px;
            }

            &--left {
                left: 14px;
            }
        }

        &__content {
            height: 100%;


            .content {


                &__label {
                    bottom: 14px;
                    left: 16px;
                    gap: 12px;

                    .label {
                        &__text {
                            font-size: 24px;
                        }

                        &__icon {
                            img {
                                width: 15px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}