@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.dates {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px 8px;
  margin-top: 24px;
  border-radius: 8px;
  font-weight: 400;
  text-decoration: none;
  color: $blue-700;
  margin-bottom: 32px;

  &__title {
    display: flex;
    gap: 0.5em;
    margin-bottom: 6px;
    align-items: center;
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 0px;
    margin-bottom: 24px;

    .item {
      position: relative;
      overflow: hidden;
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: 1fr 1fr;
      border: 1px solid $grey-100;
      border-radius: 10px;
      padding: 8px;

      &__text-date {
        grid-column: 1 / -1;
        font-weight: 700;
        margin-bottom: 8px;
      }

      &__text-without-discount {
        grid-area: 2 / 1 / span 1 / span 1;
        // font-size: 12px;
        color: $grey-500;
      }

      &__text-price {
        grid-area: 3 / 1 / span 1 / span 1;
      }

      &__pp {
        grid-area: 4 / 1 / span 1 / span 1;
        font-size: 12px;
      }

      &__btn {
        grid-area: 3 / 2 / span 3 / span 1;
        place-self: end;
        button {
          padding: 4px 12px; 
          font-size: 14px;
        }
      }

      &__ribbon {
        @include Discount();
        transform: rotate(45deg);
        right: -45px;
        top: 8px;
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $secondary-font;
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid $grey-300;

      .item__text-without-discount {
        text-decoration: line-through;
      }
    }
  }

  &__others {
    color: $orange-500;
    text-decoration: underline;
    margin-top: 8px;
    list-style: none !important;
    margin-left: -28px;
  }

  &__perfect-date-title {
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 700;
  }

  &__perfect-date-text {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $min-tablet) {
    margin-bottom: 40px;

    &__title-txt {
      font-size: 38px;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;

      .item {
        &__ribbon {
          right: -36px;
          top: 16px;
        }
      }

      li {
        padding-bottom: 16px;
      }
    }

    &__cta-contact {
      width: 50%;
    }
  }
}
