@import "/src/app/[lng]/variables";
@import "/src/app/[lng]/mixin";

.certificates {
    padding: 20px;
    @include topography;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 46px;

    &__content {
        max-width: $min-desktop;

        .content {
            &__content {
                display: flex;
                align-items: center;
                gap: 2rem;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    width: 125px;
                    height: 125px;
                }
            }
        }
    }

    &__texts {
        width: 80%;
        flex: 1 1 180px;

        .texts {

            &__link,
            &__text {
                font-size: 16px;
            }

            &__link {
                color: $black;
                font-family: $primary-font;
                font-weight: 600;
            }
        }
    }

    @media screen and (min-width: $min-desktop) {
        padding: 48px;
        padding-top: 20px;

        &__texts {
            .texts {

                &__text,
                &__link {
                    font-size: 20px;
                }
            }
        }

        &__content {

            .content {
                &__content {
                    img {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }

        padding-bottom: 64px;
    }
}