@import '/src/app/[lng]/variables';

.policy-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 12px;

  &__expiration-date,
  &__phone-number,
  &__number-policy,
  &__start-date,
  &__phone-code,
  &__supplier {
    input {
      width: 100%;
    }
  }

  &__submit,
  &__number-policy,
  &__supplier {
    grid-column: 1 / -1;
  }

  &__start-date,
  &__phone-code {
    grid-column: 1 / span 1;
  }

  &__expiration-date,
  &__phone-number {
    grid-column: 2 / span 1;
  }

  &__submit {
    grid-column: 1 / -1;
    display: flex;
    width: 100%;
    gap: 8px;
    margin-top: 24px;

    button {
      width: fit-content;
    }
  }
}