@import '/src/app/[lng]/variables';

.step-1 {
  margin-top: 2em;
  margin-left: 2em;

  .step-1 {
    &__subtitle {
      margin-bottom: 12px;
    }

    &__description {
      margin-bottom: 16px;
    }

    &__input-email {
      margin-bottom: 20px;
      display: block;
      width: 100%;
    }

    &__cta {
      margin-bottom: 32px;
      display: block;

    }

    &__not-found-reservation {
      margin-bottom: 12px;
    }
  }
}