@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';

.categories-filter {
  overflow: auto;
  margin-bottom: 26px;

  &__boxes {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: flex-start;
    gap: 24px;

    &__box {
      height: 200px;
      background-color: #ccc;
      border-radius: 20px;
      overflow: hidden;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      img {
        height: auto;
        width: auto;
      }

      .featured-image {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ddd;
        background-size: cover;

        &::before {
          content: '';
          height: 100%;
          width: 100%;
          background-image: linear-gradient(179.77deg, rgba(0, 0, 0, 0.1628) 41.43%, rgba(0, 0, 0, 0.44) 58.51%, rgba(0, 0, 0, 0.44) 92.08%);
          position: absolute;
          z-index: 10;

        }
      }

      .box__label {
        padding: 12px;
        border-radius: 12px;
        background: rgba(244, 243, 239, 0.32);
        backdrop-filter: blur(3.4);
        color: $white;
        display: block;
        z-index: 10;
        position: relative;
        text-decoration: none;
      }

      .link-box-category {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }
  }
}