@import '/src/app/[lng]/variables';

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.modal {
    width: 100%;
    @include flex(column, flex-start, center);
    gap: 1rem;



    &__input {
        width: 100%;
    }

    &__label {
        font-weight: 700;
        font-family: $subtitle-font;
        font-size: 14px;
        font-weight: 700;
        color: $blue-700
    }

    &__button {
        font-size: 12px
    }

    @media screen and (min-width: $min-tablet) {
        grid-column: span 2 / span 2;
        grid-column-start: 4;
        background-color: white;
        border-radius: 0.5em;
        max-width: 500px;

        &__content {
            width: 100%;
            @include flex(column, center, center);
            gap: 1rem;



            &__label {
                font-size: 20px;
            }

            &__button {
                font-size: 14px
            }

        }

    }
}