@import '/src/app/[lng]/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  font-family: $primary-font;
  color: $blue-700;
  z-index: 500;
  background-color: $white;
  width: 100vw;

  li {
    list-style: none;
    display: block;
    flex-shrink: 0;
    cursor: pointer;

    a,
    p {
      text-decoration: none;
      color: $blue-700;
      font-family: $primary-font;
    }

    &:hover>p,
    &:hover>a {
      color: $orange-500;
    }
  }

  &__group-left,
  .group-left__right,
  .group-left__right ul,
  .group-left__menu {
    display: flex;
    column-gap: 24px;
    row-gap: 8px;
    align-items: center;
    width: 100%;
  }

  &__group-left {
    justify-content: space-between;

    .group-left__logo>img {
      object-fit: contain;
      margin-left: 16px;
      width: 71px;
      height: 30px;
    }

    .group-left__menu {
      display: none;
      width: 100%;
      justify-content: center;

      .submenu {
        width: 100%;
      }
    }
  }

  .group-left__menu,
  .group-left__right {
    &>li {
      &:hover .submenu {
        opacity: 1;
        visibility: visible;
      }
    }

    .submenu {
      top: 56px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: 600ms;
      z-index: 100;
      border-radius: 0 0 8px 8px;
      box-shadow: -2px 9px 35px -13px rgba(130, 130, 130, 1);

      ul {
        background-color: $cream;
        display: flex;
        row-gap: 8px;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        border-radius: 0 0 8px 8px;
        padding: 16px;
        width: 100%;

        li {
          padding: 4px 16px;
          cursor: pointer;
          font-family: $primary-font;

          .hover-image {
            position: absolute;
            left: 0;
            bottom: -280px;
            transition: 1s;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              object-fit: cover;
              border-radius: 10px;
              overflow: hidden;
            }
          }

          &:hover {
            color: $orange-500;
            outline: 0;

            & .hover-image {
              opacity: 1;
              visibility: visible;
            }
          }
        }

      }

      width: 100%;
      right: 0;

      ul {
        display: flex;

        li {
          flex-shrink: 0;
          flex-direction: row;
        }
      }
    }
  }

  .group-left__right {
    position: relative;
    margin-right: 16px;
    justify-content: end;
    width: fit-content;

    .lang-icon {
      position: relative;
      cursor: pointer;
      width: 48px;
      height: 24px;
      display: block;
      border: 2px solid $blue-700;
      border-radius: 15px;

      figure {
        top: 3px;
        position: relative;

        p {
          color: $blue-700;
          font-size: 12px;
          font-weight: 700;
          text-transform: capitalize;
          position: absolute;
          right: 6px;
          top: -2px;
          font-family: $primary-font;
        }

        img {
          width: 28px;
          height: 28px;
          position: absolute;
          left: -11px;
          top: -8px;
        }

        @media screen and (min-width: $min-tablet) {
          span {
            font-size: 16px;
          }
        }
      }

      &~.submenu {
        right: 24px;
        width: fit-content;
        margin-top: -3px;

        ul {
          // padding: 8px 16px;
          flex-direction: column;
          width: fit-content;

          li {
            padding: 0;

            button {
              padding: 4px;
            }
          }
        }
      }
    }

    .currency-icon {
      display: flex;
      align-items: center;
      justify-content: center;


      figure {
        display: flex;
        align-items: center;
        margin-right: 4px;
      }

      p {
        font-family: $primary-font;
        font-weight: 700;
        font-size: 12px;
      }

      &~.submenu {
        right: -32px;
        width: fit-content;
        margin-top: -3px;

        ul {
          flex-direction: column;
          width: fit-content;

          li {
            padding: 0;

            button {
              padding: 4px;
            }
          }
        }
      }
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .burger {
      &__checkbox-btn {
        display: none;
      }

      &__icon {
        position: relative;
        z-index: 200;

        &>.icon-burger {
          width: 32px;
          height: 16px;
          position: relative;
          margin-right: 24px;
          transform: rotate(0deg);
          transition: 0.5s ease-in-out;
          cursor: pointer;

          &>span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $blue-700;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            border-radius: 2px;
          }

          &>span:nth-child(1) {
            top: 0px;
          }

          &>span:nth-child(2) {
            top: 8px;
          }

          &>span:nth-child(3) {
            top: 16px;
          }
        }
      }

      &__checkbox-btn:checked~.burger__icon>.icon-burger {
        &>span:nth-child(1) {
          top: 8px;
          transform: rotate(135deg);
        }

        &>span:nth-child(2) {
          opacity: 0;
          left: -30px;
        }

        &>span:nth-child(3) {
          top: 8px;
          transform: rotate(-135deg);
        }
      }

      &__checkbox-btn:checked~.burger__menu {
        visibility: visible;
        animation-name: open-modal;
      }

      &__checkbox-btn:checked~.burger__background {
        opacity: 1;
        visibility: visible;
        animation-name: show-background;
      }

      &__menu {
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $cream;
        color: $blue-700;
        z-index: 100;
        animation-duration: 200ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        border-radius: 0 0 0 50%;
        align-items: flex-start;
        justify-content: center;
        visibility: hidden;

        ul {
          padding: 0;
          color: $blue-700;
          margin: 80px 48px;

          li {
            margin-bottom: 16px;
            cursor: pointer;
            width: 100%;
            font-size: $primary-font;
          }

          li:hover {
            color: $orange-500;
          }
        }

        details {
          padding: 0;
          position: relative;
        }

        details+details {
          margin-top: 20px;
        }

        summary {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 500;
          cursor: pointer;
          font-family: $primary-font;
        }

        summary~div>a,
        summary~a {
          font-size: 14px;
        }

        summary::-webkit-details-marker {
          display: none;
        }

        .control-icon {
          fill: $blue-700;
          transition: 0.3s ease;
          pointer-events: none;
        }

        .control-icon-close {
          display: none;
        }

        details[open] .control-icon-close {
          display: initial;
          transition: 0.3s ease;
        }

        details[open] .control-icon-expand {
          transform: rotate(180deg);
        }

        details[open] .control-icon-close {
          display: initial;
          transition: 0.3s ease;
        }

        .summary {
          a {
            display: block;
            color: $blue-700;
            margin-left: 16px;
            max-width: 80%;
            margin-top: 4px;
            margin-bottom: 4px;
            font-family: $primary-font;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &__background {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(128, 128, 128, 0.384);
        top: 0;
        right: 0;
        z-index: 90;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        transition-duration: 300ms;
        opacity: 0;
        visibility: hidden;
      }

      // animations
      @keyframes show-background {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      @keyframes open-modal {
        0% {
          border-radius: 0 0 0 50%;
          opacity: 0;
        }

        100% {
          border-radius: 0;
          opacity: 1;
        }
      }
    }

    @media screen and (min-width: $min-tablet) {
      &__group-left .group-left__menu {
        display: flex;
      }

      .burger {
        &__background {
          display: block;
        }

        &__menu {
          width: 400px;
        }
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    padding: 0 48px;

    &__group-left .group-left__menu {
      display: flex;
    }

    &__group-left {
      .group-left__logo>img {
        width: 117px;
        height: 50px;
      }
    }
  }
}

.destinos-pr {
  &__submenu {
    position: absolute;
    visibility: hidden;
    background-color: $cream;
    padding: 8px 16px 8px 8px;
    border-radius: 0 8px 8px 0;

    top: initial;
    bottom: -61px;
    width: 100%;
    right: 0;

    &>ul {
      padding: 8px;
    }
  }

  &:hover .destinos-pr__submenu {
    visibility: visible;
  }
}