@import '/src/app/[lng]/variables';

.IconText {
    display: flex;
    gap: 12px;
    font-size: 12px;
    align-items: center;
    font-weight: 700;

    i {
        img {
            width: 13px;
            height: 13px;
        }
    }

    @media screen and (min-width: $min-tablet) {
        font-size: 16px;

        i {
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}