// components/Slider.module.scss
@import '/src/app/[lng]/variables';

.modal-images {
  width: 328px;
  height: 250px;
  overflow: hidden;
  position: relative;

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s;
    opacity: 0;
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .buttons {
      &__prev, &__next {
        background-color: $grey-300;
        padding: 4px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__prev {
        margin-right: 24px;
        transform: rotate(180deg);
      }

      &__actual-item {
          color: $white;
          font-family: $secondary-font;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 10.863px;
          margin-right: 24px;
      }

    }
  }

  @media screen and (min-width: $min-tablet) {
    width: 800px;
  height: 500px;

  }

}
