@import '/src/app/[lng]/variables';

.cards-dates {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: $primary-font;
  
  .list-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    column-gap: 12px;
    
    width: 100%;
    height: fit-content;
    row-gap: 16px;

    .card {
      height: 90px;
      
      display: flex;
      flex-basis: 45%;
      align-items: center;
      justify-content: center;
      
      padding: 16px;
      border-radius: 10px;
      background-color: $blue-300;

      color: $white;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
      
      background-image: url('/assets/brand/pattern-web-2.svg');
      background-repeat: no-repeat;
      background-size: 250px;
    }
  }

  @media screen and (min-width: $min-tablet) {
    margin-top: 32px;
    margin-bottom: 40px;

    .list-cards {
      flex-direction: row;
      column-gap: 24px;
      .card {
          width: 200px;
          flex-basis: 250px;

      }
    }
  }
}
