@import '/src/app/[lng]/variables';

.return-button {
  position: fixed;
  top: 8px;
  left: 16px;
  padding: 0;

  img {
    width: 22px;
    height: 22px;
  }

  @media screen and (min-width: $min-tablet) {
    left: 24px;

    img {
      width: 34px;
      height: 34px;
    }
  }
}

.return-button-relative {
  position: relative;
}

.return-button-absolute {
  position: absolute;
}