@mixin button {
  border: 1px solid transparent;
  background-color: $orange-500;
  color: $white;
  padding: 8px 24px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  font-size: 16px;
  font-family: $primary-font;
  text-decoration: none;

  &:hover {
    background-color: $orange-600;
  }

  &:disabled {
    background-color: $grey-500;
    cursor: not-allowed;
  }

  &.primary-dark {
    background-color: $blue-700;
    color: $white;

    &:hover {
      color: $white;
      background-color: $blue-300;
    }

    &:disabled {
      background-color: $blue-700;
    }
  }

  &.ghost {
    background-color: transparent;
    color: $orange-500;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
    }
  }

  &.ghost-dark {
    background-color: transparent;
    color: $blue-700;

    &:hover {
      background-color: transparent;
      color: $orange-500;
    }
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid $orange-500;
    color: $orange-500;
    transition: 300ms;

    &:hover {
      color: $white;
      background-color: $orange-600;
      border-color: $orange-600;
    }

    &--small {
      padding: 4px 8px;
      font-size: 12px;
      @extend .secondary;
    }
  }

  &.secondary-light {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover {
      color: $orange-500;
      border-color: transparent;
    }
  }

  &.secondary-dark {
    background-color: transparent;
    border: 1px solid $blue-700;
    color: $blue-700;

    &:hover {
      color: $white;
      background-color: $blue-700;
      border-color: $blue-700;
    }
  }
}

@mixin wonder-grid {
  margin: auto;
  max-width: $min-desktop;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap-column: 8px;

  & > * {
    grid-column: 1 / -1;
  }

  @media screen and (min-width: $min-tablet) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    row-gap: 8px;
  }
}

@mixin Discount {
  position: absolute;
  top: 23px;
  right: -28px;
  color: $white;
  background-color: $orange-500;
  padding: 4px;
  text-align: center;
  width: 126px;
  font-size: 12px;
  transform: rotate(45deg);
  box-shadow: 4.3px 4.3px 3.5px rgba(0, 0, 0, 0.051),
    9.4px 9.4px 7.6px rgba(0, 0, 0, 0.063),
    16.4px 16.4px 13.1px rgba(0, 0, 0, 0.065),
    26.9px 26.9px 21.4px rgba(0, 0, 0, 0.063),
    46.1px 46.1px 36.7px rgba(0, 0, 0, 0.061),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  font-family: $secondary-font;

  p {
    font-family: $secondary-font;
    font-weight: normal;
  }
}

@mixin Price($hasDiscount) {
  font-size: 24px;
  font-family: $secondary-font;
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    color: $blue-700;
    font-size: 14px;
  }

  p {
    font-weight: 700;
  }

  @if $hasDiscount {
    text-decoration: line-through;
    text-decoration-color: $grey-500;

    p,
    span {
      color: $grey-500;
    }
  }

  @media screen and (min-width: 820px) {
    font-size: 38px;
  }
}

@mixin topography {
  background-image: url('/assets/images/pattern-web.svg');
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  z-index: 10;
}

@mixin limit-text($limit: 3) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $limit;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin title($type, $variable: 'light') {
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-family: $primary-font;

  @if $variable == 'dark' {
    color: $white;
  } @else {
    color: $blue-700;
  }

  @if $type == 'h1' {
    font-size: 37px;
    line-height: 1em;
  } @else if $type == 'h2' {
    font-size: 29px;
    line-height: 1em;
  } @else if $type == 'h3' {
    font-size: 23px;
    line-height: 25px;
  } @else if $type == 'h4' {
    font-size: 18px;
    line-height: 25px;
  } @else if $type == 'h4' {
    font-size: 14px;
    line-height: auto;
  }

  @media screen and (min-width: $min-tablet) {
    @if $type == 'h1' {
      font-size: 42px;
      // line-height: auto;
    } @else if $type == 'h2' {
      font-size: 33px;
      // line-height: auto;
    } @else if $type == 'h3' {
      font-size: 26px;
      // line-height: auto;
    } @else if $type == 'h4' {
      font-size: 20px;
      // line-height: auto;
    } @else if $type == 'h5' {
      font-size: 16px;
      // line-height: auto;
    }
  }
}

@mixin subtitle($type, $variable: 'light') {
  font-family: $secondary-font;
  font-weight: 700;
  color: $blue-700;

  @if $variable == 'dark' {
    color: $white;
  }
  @if $type == 1 {
    font-size: 16px;
    // line-height: auto;
  } @else if $type == 2 {
    font-size: 14px;
    // line-height: auto;
  } @else if $type == 3 {
    font-size: 12px;
    // line-height: auto;
  }

  @media screen and (min-width: $min-tablet) {
    @if $type == 1 {
      font-size: 24px;
      // line-height: auto;
    } @else if $type == 2 {
      font-size: 20px;
      // line-height: auto;
    } @else if $type == 3 {
      font-size: 18px;
      // line-height: auto;
    }
  }
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin animation-appear($type, $variable: 'light') {
  @if $type == bottom {
    @keyframes appear-bottom {
      0% {
        transform: translateY(-10%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  } @else if $type == 3 {
    @keyframes appear-bottom {
      0% {
        transform: translateY(-10%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
