// fonts
$primary-font: "termina", sans-serif;
$secondary-font: var(--font-montserrat);
$subtitle-font: var(--font-montserrat);

$title-h1-size-desk: 32px;
$title-h2-size-desk: 28px;
$title-h3-size-desk: 24px;
$title-h4-size-desk: 20px;

$title-h1-size-mobile: 32px;
$title-h2-size-mobile: 28px;
$title-h3-size-mobile: 24px;
$title-h4-size-mobile: 20px;

// orange 
$orange-050: #FFE5E2;
$orange-100: #FFCBC5;
$orange-200: #fabdb6;
$orange-300: #FF978A;
$orange-400: #fc8272;
$orange-500: #ff6549;
$orange-600: #D55243;

// cream
$cream: #f4f3ef;

// neutral
$black: #25252d;
$white: #ffffff;
$black-045: #00000073;
$black-01: #0000001a;

// blue
$blue-100: #D2D1E3;
$blue-300: #7776AC;
$blue-400: #4A4990;
$blue-200: #A5A4C7;
$blue-500: #1d1b74;
$blue-700: #23174B;
$blue-800: #181033;
$blue-900: #281222;

// grey
$grey-100-10: #2c2c2cac;
$grey-100: #E6E5E7;
$grey-100: #E6E5E7;
$grey-200: #D3D2D4;
$grey-300: #c0bfc2;
$grey-500: #6d6970;
$grey-600: #5d5a60;
$grey-700: #f4f3ef52;

// green
$green-400: #5D7A55;


// error 
$error: #FF0000;

// sizes
$min-desktop: 1280px;
$min-tablet: 820px;
$max-mobil: 480px;

$google-yellow: #FBBC05;

$box-shadow-cards: -2px 9px 35px -13px rgba(130, 130, 130, 1);
$text-shadow:1px 1px 9px $grey-100;