@import './variables';
@import '/src/app/[lng]/mixin';

@import url('https://p.typekit.net/p.css?s=1&k=zgd2abi&ht=tk&f=28977.28986.28991&a=69544916&app=typekit&e=css');

@font-face {
  font-family: 'termina';
  src: sans-serif,
    url('https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: sans-serif,
    url('https://use.typekit.net/af/275a7d/00000000000000007735b220/30/l?subset_id=2&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/275a7d/00000000000000007735b220/30/d?subset_id=2&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/275a7d/00000000000000007735b220/30/a?subset_id=2&fvd=n6&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: sans-serif,
    url('https://use.typekit.net/af/574117/00000000000000007735b222/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/574117/00000000000000007735b222/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/574117/00000000000000007735b222/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange-500;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @media screen and (min-width: $min-tablet) {
    &::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
    }
  }
}

body {
  overflow-x: hidden;
  @include topography;
}

button,
.button,
.button__primary {
  font-family: $primary-font;
  font-weight: 500;
  @include button;
  text-decoration: none;

  &__xs {
    font-size: 12px;
  }

  &__bold {
    font-weight: 600;
  }
}

.button__grey-outline {
  @include button;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid $grey-300;
  color: $blue-700;
  text-decoration: none;

  &:hover {
    background-color: transparent;
  }
}

.button__orange-outline {
  @include button;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid $orange-500;
  color: $orange-500;
  text-decoration: none;

  &:hover {
    background-color: transparent;
  }
}

.button__link {
  @include button;
  background-color: transparent;
  border: none;
  color: $orange-500;
  text-decoration: underline;
  font-weight: 600;

  &:hover {
    background-color: transparent;
  }
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 28px;
  line-height: 28px;

  @media screen and (min-width: $min-tablet) {
    font-size: 50px;
    line-height: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  color: $blue-700;
  font-weight: 700;
}

.subtitle {
  font-family: $subtitle-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $blue-700;
}

p,
span,
label,
ul,
li,
input,
select {
  font-family: $secondary-font;
}

small {
  font-size: 0.7rem;
}

label {
  font-size: 13.3px;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  &:focus {
    outline: none;
  }
}

input[type='checkbox'] {
  cursor: pointer;
  background-color: white;
  padding: 0.65em;
  appearance: none;
  border: 1px solid $grey-300;
  border-radius: 5px;

  &:checked {
    background-repeat: no-repeat;
    background-image: url('/assets/icons/check.svg');
    background-position: center;
  }
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:disabled {
  cursor: not-allowed;
  color: $blue-300;
}

input[type='radio'] {
  accent-color: $orange-500;
  appearance: none;
  border-radius: 2px;
  padding: 0.4em;
  border-radius: 50%;
  outline-color: $grey-300;
  border: none;

  &:not(:checked) {
    border: none;
    outline: 1px solid $grey-300;
    outline-offset: 3px;
    margin-right: 0.5em;
  }

  &:checked {
    margin-right: 0.5em;
    border: none;
    background-color: $orange-500;
    outline: 1px solid $grey-300;
    outline-offset: 3px;
  }
}

input,
select {
  color: $blue-200;
  padding: 10px 16px;
  border: 2px solid $grey-300;
  border-radius: 8px;
  color: $blue-700;

  &::placeholder {
    color: $blue-300;
  }

  &.error {
    border: 2px solid $error;
  }
}

select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  font-size: 14px;

  &[disabled=''] {
    cursor: not-allowed;
    color: $grey-300;
    border: 1px solid $grey-300;
  }

  @media screen and (min-width: $min-tablet) {
    font-size: 16px;
  }
}

.wonder-grid {
  @include wonder-grid;
}

.header-fixed-space {
  padding-top: 40px !important;
}

.mask-dark-gradient {
  position: relative;

  &::after {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.1) 30%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }

  > div {
    position: relative;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  font-size: 16px;
}

p, ul, li, a{
  color: $blue-700;
  font-family: $secondary-font;
}

//// delete

.animated-element-appear-bottom {
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animated-element-appear-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes appear-bottom {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-element-delay-appear {
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

.animated-element-delay-appear.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes appear-bottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
