@import '/src/app/[lng]/variables';

.social-proof {
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-size: 20px;
    padding-top: 38px;
    padding-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .content {
      &__description {
        padding: 24px;
        background-color: #f4f3ef;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 13px;
        justify-content: space-between;

        p {
          width: 70%;
          font-weight: 700;
          font-size: 14px;
          text-wrap: balance;
        }
      }

      &__otherReviews {
        p {
          font-size: 14px;
          margin: 10px;
        }
      }

      &__show {
        width: fit-content;
        padding: 1rem;
        text-decoration: underline;
        cursor: pointer;
      }

      &__list-cards {
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 24px;
        gap: 16px;
        overflow-y: scroll;
        scrollbar-width: thin;
        max-height: 70vh;
        padding-right: 4px;
        overflow-x: hidden;
      }

      &>hr {
        border: 2px solid $orange-500;
        width: 150px;
      }

      @media screen and (min-width: $min-tablet) {
        h2 {
          padding-top: 64px;
          padding-bottom: 0;
        }

        &__description {
          p {

            font-size: 16px;
          }
        }

        &__otherReviews {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    h2 {
      font-size: 38px;
    }
  }
}

.card-social {
  background-color: $cream;
  padding: 28px 30px;
  border-radius: 13px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;

  &__commas {
    display: flex;
    margin-top: -10px;
    position: absolute;
    right: 24px;
    transform: rotate(180deg);

    & :last-child {
      margin-left: -12px;
    }

    i img:last-child {
      margin-left: -16px;
    }
  }

  &__pic {
    margin: auto;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 52px;
  }

  &__content {
    gap: 8px;
    display: flex;
    flex-direction: column;

    .content {

      &__info {
        gap: 4px;
        display: flex;
        flex-direction: column;

        .info {
          &__title {
            display: flex;
            gap: 4px;
          }

          &__country {
            font-size: 14px;
            font-weight: 600;
          }

          &__name {
            font-size: 16px;
            font-weight: 700;

            &--reviewGeneral {
              font-size: 16px;
            }
          }
        }
      }


      &__comment {
        font-size: 14px;
        line-height: 130%;
        min-height: 36px;
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    max-width: 600px;
    width: 90%;

    &__content {
      gap: 16px;

      .content {

        &__info {
          gap: 8px;

          .info {

            &__country {
              font-size: 16px;
            }

            &__name {
              font-size: 20px;

              &--reviewGeneral {
                font-size: 20px;
              }
            }
          }
        }


        &__comment {
          font-size: 14px;
          line-height: 130%;
          min-height: 36px;
        }
      }
    }
  }
}