@import "/src/app/[lng]/variables";


.containerForm {
    width: 100%;

    h2 {
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        background-color: $cream;
        border-radius: 16px;
        flex-direction: column;
        gap: 12px;
        padding: 24px 16px;

        .form {
            &__textarea {
                padding: 8px 12px;
                height: 57px;
                border-radius: 8px;
                color: $blue-700;
                border: 1px solid #ccc;
            }

            &__label {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    a {
                        color: $orange-500;
                    }
                }
            }

            &__required {
                font-weight: 600;
                font-size: 14px;
            }

            &__button {
                margin-top: 20px;
                width: fit-content;
                font-weight: 600;
                padding: 9px 15px;
                font-family: $secondary-font;
                font-size: 16px;
            }
        }
    }

    @media screen and (min-width: $min-tablet) {}
}

.input {
    display: flex;
    flex-direction: column;
    color: $blue-700;
    gap: 6px;
    font-weight: 600;

    input {
        border: 0 solid #000;
        padding: 8px 12px;
        font-size: 14px;
    }
}