@import '/src/app/[lng]/variables';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black-045;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    padding: 0 1em;
}