@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';


.CardPrice {
  overflow: hidden;
  background-color: $cream;
  padding: 32px 44px;
  filter: drop-shadow(1.63699px 1.63699px 1.63699px rgba(0, 0, 0, 0.11));
  border-radius: 8px;
  margin-bottom: 56px;
  min-width: auto;

  &__discount {
    @include Discount;
  }

  &__duration {
    color: $blue-700;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 700;
    font-family: $subtitle-font;
  }

  &__from {
    margin-bottom: 4px;
    color: $blue-700;
  }

  &__content {
    display: flex;
    flex-direction: column;

    .content {

      &__price {
        @include Price($hasDiscount: true);
        height: 22px;
      }

      &__priceDiscount {
        @include Price($hasDiscount: false);
      }
    }
  }

  &__divider {
    margin-bottom: 24px;
    border-color: $blue-700;
  }

  &__button {
    margin: auto;
    width: 100%;
    cursor: pointer;
  }

  &__button-we-travel {
    @include button;
    display: block;
    background-color: $orange-500;
    color: white;
    text-decoration: none;
  }

  &__btn-book {
    font-size: 14px;
  }

  &__btn-book,
  &__button-we-travel {
    margin-bottom: 16px;
    width: 100%;
  }

  @media screen and (min-width: 820px) {
    grid-column: 9 / span 4;
    min-width: 380px;

    &__btn-book {
      font-size: 16px;
    }

    &__duration {
      font-size: 24px;
    }

    &__from {
      margin-bottom: 8px;
      font-size: 20px;
    }

    &__content {

      .content {

        &__price {
          height: 32px;
          font-size: 38px;
        }
      }
    }
  }
}

.btn__cero-deposit {
  width: 100%;
  margin-bottom:16px ;
}

.btn__contact {
  width: 100%;
  margin-bottom:16px ;
}