@import '/src/app/[lng]/variables';

.dropdown-list {
    position: absolute;
    right: -43px;
    background-color: $cream;
    border-radius: 8px;
    min-width: 150px;
    z-index: 20;
    padding: 1rem;
    text-align: left;
}

.dropdown {
    position: relative;
}

.button {
    color: $blue-700;
    text-decoration: none;
    font-weight: normal;
}

.current {
    color: $orange-500;
}

.dropdown-outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 15;
}