@import '/src/app/[lng]/variables';

.content-icon {
    display: flex;
    gap: 0.5em;
    align-items: center;

    i {
        height: min-content;
        display: flex;
        align-items: center;
    }

    P {
        color: $blue-700;
        font-size: 12px;
        font-weight: 600;

    }

    @media screen and (min-width: $min-tablet) {
        p {
            font-size: 16px;
        }
    }
}