@import '/src/app/[lng]/variables';

.wonder-sponsors {
  padding: 60px 16px;
  padding-bottom: 0;

  .wonder-sponsors__items {
    display: flex;
    gap: 20px;
    align-items: center;

    figure {
      width: 100%;
      padding: 0;
      margin: 0;

      img {
        width: 100%;
      }
    }

  }

  @media screen and (max-width: 620px) {
    padding: 1em;

    .wonder-sponsors__items {
      gap: 10px;

      img {
        width: 80%;
      }
    }
  }
}