@import '/src/app/[lng]/variables';

.emergency-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 12px;

  &__relationship {
    grid-column: 1 / -1;

    input {
      width: 100%;
    }
  }

  &__first-name,
  &__last-name,
  &__phone-code,
  &__phone-number {
    input {
      width: 100%;
    }
  }

  &__first-name,
  &__phone-code {
    grid-column: 1 / span 1;
  }

  &__last-name,
  &__phone-number {
    grid-column: 2 / span 1;
  }

  &__submit {
    grid-column: 1 / -1;
    display: flex;
    width: 100%;
    gap: 8px;
    margin-top: 24px;

    button {
      width: fit-content;
    }
  }
}