@import '/src/app/[lng]/variables';


.content-form {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2, minmax(0, 1fr));


    &__selects {
        grid-column: 2 span;
        display: flex;
        flex-direction: column;
        gap: 0.6em;

        .selects {

            &__date {
                color: $blue-700;
            }
        }

        input {
            width: 100%;
        }
    }

    @media screen and (min-width: $min-tablet) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}