@import '/src/app/[lng]/variables';

.content {
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    &__content-items {
        .content-items {
            display: flex;
            flex-direction: column;
            border: none;

            &__item {
                align-items: center;
                display: flex;
                justify-content: space-between;

                .item {

                    &__label {

                        input,
                        input:active {
                            border: none;
                            outline: none;
                        }
                    }

                    &__close {
                        background-color: $blue-700;
                        border-radius: 50%;
                        padding: 3px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__button {
        width: 40%;
        background-color: inherit;
        color: $blue-700;
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 0 1em;

        &:hover {
            background-color: inherit;
            cursor: pointer;
        }

        img {
            fill: $blue-700;
        }

    }
}