@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.new-booking {
  --width-point: 32px;
  display: grid;
  grid-template: calc(var(--width-point) * 3) 130px 1fr 180px / 368px 1fr 372px;
  column-gap: 40px;
  height: 80svh;
  max-height: calc(100svh - 140px);
  overflow: scroll;
  width: 100vw;
  padding: 0 24px;
  margin-top: 8px;

  &__img-main {
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / -1 / span 1;
    padding: 0 16px;
    position: relative;

    img {
      position: relative !important;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  &__navbar {
    grid-area: 1 / 2 / span 1 / span 1;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    grid-template-columns: repeat(5, calc(100% / 5));
    padding: 0;

    &::before {
      position: absolute;
      content: '';
      border-top: 4px solid $grey-200;
      width: 100%;
      top: calc(var(--width-point) / 2);
      left: 0;
      z-index: -1;
    }

    a {
      color: $blue-700;
      transition: all 300ms ease-in-out 200ms allow-discrete;
      background-color: $orange-300;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--width-point);
      height: var(--width-point);

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          transition: all 400ms ease-in-out 100ms allow-discrete;
        }
      }

      &:hover {
        color: $orange-500;
        font-size: 18px;
      }
    }

    a.active {
      background-color: $orange-500;
      width: 34px;
      height: 34px;

      li img {
        width: 18px;
        height: 18px;
      }
    }

    a.complete-data {
      background-color: $green-400;
    }

    li {
      position: relative;
      // padding-top: 24px;
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    li.active {
      color: $blue-900;
      font-weight: 900;
    }
  }

  &__step {
    grid-area: 2 / 2 / -1 / span 1;
    height: 100%;
    overflow-x: scroll;
  }

  &__name-trip {
    grid-area: 1 / 1 / span 1 / span 1;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  
    &__total {
      grid-area: 1 / 3 / span 2 / span 1;
      padding-bottom: 16px;
    }

  &__summary {
    grid-area: 3 / 3 / span 2 / span 1;
  }

  &__img-main,
  &__navbar,
  &__step,
  &__name-trip,
  &__summary,
  &__total {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.39, 0.57, 0.56, 1);
  }

  &__name-trip,
  &__summary,
  &__total {
    animation-name: appear-right;
  }

  &__navbar,
  &__step {
    animation-name: appear-bottom;
  }

  &__img-main {
    animation-name: appear-left;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 500ms;
  }

  @keyframes appear-left {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes appear-right {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes appear-bottom {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media screen and (max-width: $min-tablet) {
    padding: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr minmax(auto, 200px);
    margin-top: 0;
    max-height: calc(100vh - 48px);
    height: 100vh;

    &__img-main,
    &__name-trip,
    &__summary {
      display: none;
    }

    &__navbar {
      grid-area: 1 / 1 / span 1 / -1;
    }

    &__step {
      grid-area: 2 / 1 / span 1 / span 1;
    }

    &__total {
      grid-area: 3 / 1 / span 1 / span 1;
    }
  }
}
