@import '/src/app/[lng]/variables';


.submit-button {
  position: relative;
  width: 100%;

  &__aclarations {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -60px;
    background-color: $cream;
    color: $blue-700;
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    box-shadow: $box-shadow-cards ;
    border: 1px solid $orange-500;
    transition: 1s ease-in;
  }
  
  &__button:disabled:hover ~ &__aclarations, &__button:disabled:focus-visible ~ &__aclarations {
    opacity: 1;
    visibility: visible;
  }
}
