@import '/src/app/[lng]/variables';

.dropdown {
    position: relative;

    button {
        font-size: 14px;
    }

    h2 {
        color: $white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color: $orange-500;
        }
    }

    &__content {
        border: 2px solid $grey-300;
        border-radius: 8px;
        padding: 16px;
        background-color: $white;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 212px;
        z-index: 70;
        gap: 0.5em 2em;

        .content {
            &__ListChecks {
                flex-direction: column;
                max-height: 14rem;
                display: flex;
                gap: 0.5em 2em;
                overflow: auto;

            }

            &__btn_clear {
                border: none;
            }

        }

        @media screen and (min-width: $min-tablet) {
            button {
                font-size: 16px;
            }
        }
    }

    .outer {
        position: absolute;
        min-width: 100vw;
        min-height: 100vh;
        top: 0;
        z-index: 60;
    }
}