@import '/src/app/[lng]/variables';

.menu-hover-image {
  position: relative;
  width: 300px;
  list-style-type: none;

  .cursor {
    position: absolute;
    left: -13%;
    top: -16px;
    z-index: -1;
    width: 350px;
    height: 210px;
    background-color: $white;
    background-position: 50% 50%;
    background-size: contain;
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;
  }

  .menu-item {
    @for $i from 1 through 7{
      &:nth-child(#{$i}):hover ~ .cursor > img:nth-child(#{$i}) {
        display: block !important;
      }
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-decoration: none;
      transform: translate3d(0, 0, 0);
    }
  }
}