@import "src/app/[lng]/_variables";

.inputPrice {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: column;
    flex-wrap: wrap;

    &__label {
        font-size: 12px;
        font-family: $secondary-font;
    }

    &__inputContent {
        margin-top: 2px;
        display: flex;
        width: fit-content;
        align-items: center;
        border-radius: 8px;
        padding: 4px 10px;
        border: 2px solid $grey-300;
        border-radius: 8px;
        padding-left: 4px;

        input {
            width: 100%;
            border: none;
            padding: 4px;
            border-left: 2px solid $grey-300;
            border-radius: 0;
            min-width: 36px;
            margin-left: 4px;
        }

        p,
        input {
            font-size: 12px;
        }
    }

    @media screen and (min-width: $min-tablet) {
        flex-direction: row;

        &__label {
            font-size: 14px;
        }

        &__inputContent {

            p,
            input {
                font-size: 14px;
            }
        }
    }
}