@import '/src/app/[lng]/variables';

.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em, ;
    flex-direction: column;
    padding: 20px 1em;
    border-top: 2px solid $grey-300;


    &__section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em, ;
        flex-direction: column;
        padding: 20px 1em;

        .section {
            &__tags {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                .tags {
                    &__tag {
                        padding: 8px 24px;
                        text-decoration: none;
                        background-color: $white;
                        border-radius: 8px;
                        border-top: 8px solid $blue-700;
                        border-right: 2px solid $blue-700;
                        border-bottom: 2px solid $blue-700;

                        &:hover {
                            cursor: pointer;
                            background-color: transparent;
                        }

                        p {
                            color: $blue-700;
                            font-size: 12px;

                        }

                        @media screen and (min-width: $min-tablet) {
                            p {
                                font-size: 16px;

                            }
                        }
                    }
                }
            }

        }
    }

}