@import '/src//app/[lng]/mixin';
@import '/src//app/[lng]/variables';

.collage {
  width: 100vw;
  height: 90vh;
  max-width: 1280px;
  margin: auto;

  display: grid;
  grid-auto-rows: 1fr;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto repeat(3, 1fr);

  &__title {
    grid-area: 1 / 1 / span 1 / -1;
    
  }
  &__desc {
    grid-area: 2 / 1 / span 1 / -1;
  }

  &__wrapper {
    position: relative;

    &-1 {
      grid-area: 3 / 1 / span 2 / span 3;
    }

    &-2 {
      grid-area: 3 / 4 / span 1 / span 3;
    }

    &-3 {
      grid-area: 3 / 7 / span 2 / span 6;
    }

    &-4 {
      grid-area: 5/ 9 / span 1 / span 4;
    }

    &-5 {
      grid-area: 5 / 1 / span 1 / span 3;
    }

    &-6 {
      grid-area: 4 / 4 / span 2 / span 3;
    }

    &-7 {
      grid-area: 5 / 7 / span 1 / span 2;
    }

    img {
      object-fit: cover;
      overflow: hidden;
      border-radius: 10px;
    }
  }
  
  @media all and (max-width: $min-tablet) {
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    gap: 8px;
    
    &__title {
      grid-area: 1 / 1 / span 1 / -1;
    }
    &__desc {
      grid-area: 2 / 1 / span 1 / -1;
    }
  
    &__wrapper {
  
      &-1 {
        grid-area: 3 / 1 / span 1 / span 3;
      }
  
      &-2 {
        grid-area: 4 / 1 / span 1 / span 2;
      }
  
      &-3 {
        grid-area: 4 / 3 / span 1 / span 1;
      }
  
      &-4 {
        grid-area: 5/ 1 / span 1 / span 1;
      }
  
      &-5 {
        grid-area: 5 / 2 / span 1 / span 2;
      }
  
      &-6 {
        grid-area: 6 / 1 / span 1 / span 2;
      }
  
      &-7 {
        grid-area: 6 / 3 / span 1 / span 1;
      }

      img {
        border-radius: 5px;
      }
  
    }
  }
}
