@import '/src/app/[lng]/variables';

.subtitle {
  color: $blue-700;
  font-family: $subtitle-font;
  font-weight: 700;
  font-size: 14px;
}

.payment {
  .payment {
    &__img-container {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__container-info {
    background-color: $white;
    margin-top: -56px;
    padding-top: 24px;
    border-radius: 24px 24px 0 0;
    z-index: 10;
    position: relative;
    padding: 16px;

    .container-info {
      &__card-number {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
    font-family: $primary-font;
  }

  .step-2 {
    &__subtitle {
      @extend .subtitle;
      margin-bottom: 8px;
    }
  }

  &__security-card {
    display: flex;
    gap: 20px;
    .expiration-date {
      display: flex;
      align-items: center;
      gap: 4px;
      input {
        width: 68px;
      }
    }
  }

  &__card-summary {
    width: 100%;
    padding: 16px;
    z-index: 100;
    border-radius: 8px;
    margin-bottom: 16px;

    &__persons {
      display: flex;
      color: $grey-500;
      font-size: 12px;
    }

    .card-summary {
      &__title-dates {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
        color: $blue-700;
      }
      &__subtitle-dates {
        color: $blue-700;
        font-size: 16px;
        margin-bottom: 12px;
        font-weight: 700;
      }

      &__persons {
        display: grid;
        grid-template-columns: 16px 1fr 1fr;
        row-gap: 8px;

        .persons {
          margin-bottom: 12px;
          &__type {
            text-align: left;
          }

          &__price {
            text-align: right;
          }
        }
      }

      &__line {
        border-bottom: 1px dashed $grey-500;
        margin-top: 12px;
        margin-bottom: 12px;
      }

      &__total-trip {
        display: flex;
        justify-content: space-between;
      }

      &__btn-details {
        padding-left: 0;
        margin-bottom: 40px;
        text-decoration: underline;
      }
    }
  }

  button {
    width: 80%;
    margin: auto;
    text-align: center;
    display: block;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: $min-tablet) {
  .subtitle {
    font-size: 24px;
  }

  .payment {
    max-width: 1280px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr;
    column-gap: 80px;
    height: 80vh;
    width: 100%;
    padding: 16px;

    .payment {
      &__img-container {
        grid-column: 1 / span 1;
        grid-row: 1 / span 4;

        img {
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }

        &.step-2 {
          display: none;
        }
      }

      &__container-info {
        margin-top: 0;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        height: 75%;
        width: 100%;
        padding: 0;
        gap: 8px;

        &.step-2 {
          grid-column: 1/-1;
          grid-row: 1/-1;
          display: grid;
          grid-template-columns: inherit;
          column-gap: inherit;
          height: 100%;
          grid-template-rows: 10% 75% 10%;
        }

        .container-info {
          &__card-number {
            margin-bottom: 24px;
          }
        }
      }

      &__title {
        font-size: 50px;
        text-align: left;
      }

      &__step-2 {
        height: 100%;

        &.step-2 {
          display: grid;
          grid-template-columns: inherit;
          grid-template-rows: 5% 1fr;
          column-gap: inherit;
          grid-row: 2 / span 2;
          overflow: hidden;
        }

        .step-2 {
          &__subtitle:first-child,
          &__grid-counter {
            grid-column: 1 / span 1;
          }

          &__forms {
            grid-column: 2 / span 1;
            grid-row: 1 / -1;
            height: 100%;
            overflow: scroll;
          }
        }
      }

      &__btn-continue {
        bottom: 32px;
      }

      &__card {
        grid-column: 2 / span 1;
        width: 100%;
        position: relative;
        height: 120px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.step-2 {
          grid-column: 1 / span 1;
          grid-row: 2 / span 1;
        }
      }

      &__card-summary {
        padding: 32px 48px;
        grid-column: 2 / span 1;
        background-color: $cream;
        width: 100%;

        .card-summary {
          &__subtitle-dates {
            margin-bottom: 24px;
            font-size: 20px;
          }

          &__line {
            margin-top: 20px;
            margin-bottom: 20px;
          }

          &__persons {
            margin-bottom: 4px;
          }
        }
      }

      &__security-card {
        & > div {
          width: 100%;
        }
        .security-card {
          width: 100%;
          &__cvv {
            input { 
              width: 100%;
            }
          }
        }

      }
    }
    button {
      grid-column: 2 / span 1;
    }
  }
}
