@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.form-data-user {
  padding-right: 16px;
  margin-bottom: 40px;

  &__title-user {
    @include title(h4);
  }

  &__desc {
    margin-bottom: 24px;
  }

  &__forms-users {
    margin-bottom: 40px;

    & > div > p {
      font-size: 20px;
      font-family: $secondary-font;
      color: $blue-700;
      width: 100%;
      text-align: center;
      font-weight: 900;
      margin-bottom: 16px;
    }
  }

  &__title-select-user {
    @include subtitle(1);
    margin-bottom: 16px;
    max-width: 70%;
  }

  &__select-user {
    width: 100%;
    display: block;
  }
}

.form_user {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  column-gap: 8px;

  label {
    margin-bottom: 4px;
    font-family: $secondary-font;
    color: $blue-700;
  }

  input,
  select {
    margin-bottom: 8px;

    &.check {
      transition: 1s ease-in-out;
      border: 2px solid $green-400;
    }
  }

  &__name {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  &__name-input {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  &__second {
    grid-area: 1 / 3 / span 1 / span 2;
  }

  &__second-input {
    grid-area: 2 / 3 / span 1 / span 2;
  }

  &__email {
    grid-area: 3 / 1 / span 1 / span 4;
  }

  &__email-input {
    grid-area: 4 / 1 / span 1 / span 4;
  }

  &__number-prefix {
    grid-area: 5 / 1 / span 1 / span 2;
  }

  &__number-prefix-input {
    grid-area: 6 / 1 / span 1 / span 2;
  }

  &__number-contact {
    grid-area: 5 / 3 / span 1 / span 2;
  }

  &__number-contact-input {
    grid-area: 6 / 3 / span 1 / span 2;
  }


  &__document-type {
    grid-area:  7 /  1 / span 1 / span 2;
  }

  &__document-type-input {
    grid-area:  8 /  1 / span 1 / span 2;
  }

  &__doc-number {
    grid-area: 7 / 3 / span 1 / span 2;
  }

  &__doc-number-input {
    grid-area: 8 / 3 / span 1 / span 2;
  }

  @media screen and (max-width: $min-tablet) {
  }
}
