@import '/src/app/[lng]/variables';

.policy {
    margin-bottom: 30px;

    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p,
    a {
        font-size: 14px;
        line-height: 2em;
    }

    a {
        color: $orange-500;
        font-family: $primary-font;
    }

    @media screen and (min-width: $min-tablet) {

        p,
        a {
            font-size: 16px;
        }
    }
}