@import "/src//app/[lng]/variables";

.title {
    position: relative;

    h2 {
        font-size: 16px;
        border-bottom: 2px solid $orange-500;
        width: fit-content;

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $orange-500;
            position: absolute;
            bottom: 1px;
        }
    }

    @media screen and (min-width: $min-tablet) {
        h2 {
            font-size: 32px;
        }
    }
}