@import "/src/app/[lng]/variables";
@import "/src/app/[lng]/\(home\)/_mixin.scss";

.about {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 24px;
    }

    &__banner {
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        align-items: center;
        background: linear-gradient(180deg, rgb(0 0 0 / 9%) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.33) 50%, rgba(0, 0, 0, 0.2) 70%, rgb(0 0 0 / 15%) 100%);

        .banner {
            &__texts {
                width: 100%;
                max-width: $min-desktop;

                .texts {

                    &__description,
                    &__title {
                        color: $white;
                        width: 75%;
                    }

                    &__title {
                        font-size: 30px;
                    }

                    &__description {
                        font-family: $secondary-font;
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
        }
    }



    @media screen and (min-width: $min-tablet) {
        h2 {
            font-size: 36px;
        }

        &__banner {
            padding: 48px;

            .banner {
                &__texts {

                    .texts {

                        &__title {
                            font-size: 56px;
                        }

                        &__description,
                        &__title {
                            width: 60%;
                        }

                        &__description {
                            font-size: 20px;
                            line-height: 27px;
                        }
                    }
                }
            }
        }

    }
}