@import '/src/app/[lng]/variables';

.contain {

    &__title {
        padding-bottom: 24px;
        padding-top: 52px;
        font-size: 20px;
    }

    &__impact {
        background-color: $green-400;
        color: $white;
        display: flex;
        padding: 16px;
        margin-bottom: 16px;
        border-radius: 8px;
        font-family: $secondary-font;
        gap: 16px;
        grid-column: 8 / span 5;

        .impact {

            &__img {
                align-self: center;
            }

            &__info {

                .info {
                    &__title {
                        color: $white;
                        margin-bottom: 16px;
                        font-size: 16px;
                    }

                    &__list {
                        padding-left: 16px;
                    }

                    &__list-item {
                        list-style-type: disc;
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                        margin-bottom: 4px;
                    }
                }

            }
        }

    }

    @media screen and (min-width: $min-tablet) {
        h2 {
            font-size: 38px;
            padding-bottom: 30px;
            padding-top: 64px;
        }

        &__impact {

            .impact {
                &__info {
                    padding: 32px;

                    .info {
                        &__title {
                            font-size: 20px;
                        }

                        &__list-item {
                            font-size: 16px;
                        }
                    }

                }
            }

        }
    }
}