@import '/src/app/[lng]/variables';
@import '../../mixin';
@import '/src/app/[lng]/mixin';

.social-proof {
  position: relative;
  @include limitHeight();

  img {
    border-radius: 2em 2em 0 0;
  }

  h2 {
    @include title('h2');
    position: relative;
  }


  .social-proof {
    &__wrapper {
      top: 0;
      position: sticky;
      height: 100vh;
      @include limitHeight;
      padding: 48px 16px;
      gap: 16px;
      overflow: hidden;
      flex-direction: column;
      display: flex;
      justify-content: center;
    }

    &__commas {
      display: flex;
      flex-direction: row;
      margin-left: -1rem;

      img {
        width: 20px;
      }

      img:last-child {
        margin-left: -8px;
      }

    }
  }

  &__list-cards {
    position: relative;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    overflow: auto;
  }

  &__commas {
    display: flex;

    img {
      width: 20px;
    }

    img:last-child {
      margin-left: -8px;
    }
  }



  &>hr {
    border: 2px solid $orange-500;
    width: 150px;
  }

  @media screen and (min-width: $min-tablet) {

    h2 {
      padding-bottom: 24px;
    }

    .social-proof {

      &__wrapper {
        height: 90vh;
        padding: 48px 48px;
        top: 8%;
      }
    }
  }
}

.card-social {
  background-color: $cream;
  padding: 16px;
  border-radius: 13px;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  gap: 4px;

  &__pic {
    margin: auto;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 52px;
  }

  &__content {
    gap: 16px;
    display: flex;
    flex-direction: column;

    .content {
      &__country {
        font-size: 16px;
        color: $blue-700;
        padding: 0;
        line-height: 1.2rem;
        min-height: 38px;
      }

      &__name {
        font-size: 14px;
        margin-bottom: 8px;
      }

      &__comment {
        font-size: 14px;
        line-height: 130%;
        min-height: 90px;
        color: $blue-700;
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    width: 326px;

    &__content {
      .content {
        &__country {
          font-size: 20px;
        }

        &__name {
          font-size: 16px;
        }

        &__comment {
          font-size: 16px;
          line-height: 130%;
          min-height: 90px;
        }
      }
    }
  }
}


@media screen and (min-width: $min-tablet) {
  .social-proof {

    section {
      max-width: 1280px;
      margin: 0 auto;
    }

    h2 {
      align-self: flex-start;
      font-size: 38px;
      max-width: 1280px;
    }

    .card-social {
      padding: 8px 32px 32px 32px;
      width: 326px;
      height: 436px;
    }
  }
}