@import "/src/app/[lng]/variables";

.basicCountry {
    width: 100%;
    padding: 20px 16px;
    background-color: #F4F3EF;
    display: flex;
    justify-content: center;

    &__details {
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: space-between;
        max-width: $min-desktop;
        width: 100%;
        scroll-snap-type: x mandatory;
    }


    @media screen and (min-width: $min-tablet) {
        padding: 32px 48px;
    }
}