@import '/src/app/[lng]/variables';

@media screen and (min-width: 820px) {
  .mainContainer {
    padding-left: 110px; //110
    padding-right: 110px; //110
    padding-top: 20px; //180
    padding-bottom: 20px; //180
    margin-top: 20px; //20

    &__divContainer {
      padding: 2px;
      margin-bottom: 1px;

      &--h4 {
        font-size: 16px;
        font-family: $primary-font;
        color: $black;

        &.titulos {
          font-weight: bold;
          font-size: 16px;
        }
      }

      &--h3 {
        font-size: 24px;
        font-family: $primary-font;
        color: $black;
      }

      &--h1 {
        font-size: 38px;
        font-family: $primary-font;
        color: $black;
        text-align: center;

        &.multi-line-h1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }

      &--p {
        font-size: 16px;
        font-family: $secondary-font;
        color: $black;
      }

      &--ul {
        margin-top: 20px;

        &--li {
          font-size: 16px;
          font-family: $secondary-font;
          color: $black;
        }
      }
    }
  }
}

.mainContainer {
  // add mt for banner
  margin-top: 4.9rem;
  //end mt
}