@import '/src/app/[lng]/variables';
@import "../../mixin.scss";

.travel-style {
  @include StylePage;
}

.travel-style .background-gradient {
  background-image:linear-gradient(179deg, transparent 25%, rgb(32 32 32 / 58%) 70%, rgb(41 40 40 / 79%) 92.08%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}