@import '/src/app/[lng]/variables';

.modal-sort {
  &__modal {
    padding: 0;
    height: auto;
    background-color: #fff;
    position: relative;
    padding: 12px;
    padding-top: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra del modal */
    overflow: scroll;
    width: 523px;
    height: min-content;

    .modal {
      &__modal-title {
        padding-top: 1em;
        font-size: 20px;
        color: $blue-700;
        font-family: $subtitle-font;
        font-weight: 700;
        border-bottom: 1px solid $grey-300;
      }

      &__modal-close {
        position: absolute;
        font-size: 20px;
        border: none;
        cursor: pointer;
        background: initial;
        border-radius: 30px;
        padding: 0;
        color: #fff;
        top: 10px;
        right: 10px;
      }

      &__modal-content {
        font-family: $subtitle-font;

        .modal-content {

          &__modal-filters-trips {
            padding: 1em 2rem;

            h3 {
              font-size: 16px;
              color: $blue-700;
              font-family: $subtitle-font;
              font-weight: 700;
            }

            .modal-filters-trips {
              &__wrap {
                .wrap {

                  &__section {
                    border-bottom: 1px solid $grey-300;
                    margin-bottom: 1rem;

                    .section {

                      &__last {
                        border-bottom: none;
                      }

                      &__inputs-groups {
                        display: flex;
                        padding: 1rem 0;

                        div {
                          width: 100%;


                          label {
                            margin-right: 10px;
                            cursor: pointer;
                          }

                          b.input-info {
                            padding: .5rem 0;
                            display: block;
                            font-weight: 600;
                            color: $blue-700
                          }

                          .label-radio {
                            padding-right: .7em;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          input[type='number'],
          input[type='text'],
          select {
            padding: .7rem 1rem;
            border-radius: 10px;
            border: 2px solid $grey-300
          }

          .inputs-wrap {
            padding: 1rem 0;
          }


          .modal-content__buttons-modal {
            padding: 1rem 2rem;
            border-top: 1px solid $grey-300;
            justify-content: flex-end;
            display: flex;
          }
        }
      }
    }

    @media screen and (min-width: $min-tablet) {
      width: 420px;
    }
  }
}