@import '/src/app/[lng]/variables';


.detail {
    display: flex;
    flex-flow: column wrap;
    font-size: 14px;
    gap: 8px;
    width: 100%;
    flex: 1 1 46%;



    b {
        font-family: $secondary-font;
        font-weight: 600;
        font-size: 12px;
    }

    &__title-list {
        display: flex;
        gap: 0.5em;
        align-items: center;
        align-self: flex-start;

        .title-list {
            &__img {
                width: 14px;
                height: 14px;
            }

            &__text {
                font-size: 12px;
            }

            ul {
                padding-left: 1.8em;

                li {
                    list-style: disc;
                }
            }
        }
    }

    &__title {
        align-items: center;
        display: flex;
        gap: 0.5em;

        .title {
            &__img {
                width: 14px;
                height: 14px;
            }

            &__text {
                font-size: 12px;
            }
        }
    }

    p {
        font-size: 12px;
    }

    &__list {
        padding-left: 24px;

        .list {

            &__first {
                margin-bottom: 22px;
            }
        }

        li {
            list-style: disc;
            line-height: 20px;
        }
    }

    @media screen and (min-width: $min-tablet) {
        font-size: 16px;

        b {
            font-size: 16px;
            line-height: 25px;
        }

        &__title {
            .title {
                &__img {
                    width: 16px;
                    height: 16px;
                }

                &__text {
                    font-size: 18px;
                }
            }
        }

        &__title-list {

            .title-list {
                &__img {
                    width: 16px;
                    height: 16px;
                }

                &__text {
                    font-size: 18px;
                }
            }
        }

        p {
            font-size: 16px;
        }
    }
}