@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.hero {
  position: relative;

  &__video {
    .video {
      width: 100vw;
      height: 80vh;
      object-fit: cover;
    }
  }
  &__title {
    position: absolute;
    left: 25%;
    bottom: 10%;
    text-align: center;
    max-width: 50%;
    color: $white;
  }

  @media screen and (max-width: $min-tablet) {
    &__video {
      .video {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 85vh;
      }
    }

    &__title {
      top: 50%;
      left: 10%;
      max-width: 80%;
    }
  }
}
