@import "/src/app/[lng]/variables";

.tripsCountry {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    padding: 0 16px;
    max-width: $min-desktop;
    width: 100%;

    &__seeMore {
        text-decoration: none;
        width: fit-content;
        font-family: $primary-font;
        font-size: 14px;
        padding: 8px 16px;
        border: 2px solid;
    }

    @media screen and (min-width: $min-tablet) {
        gap: 30px;
        padding: 0 48px;


        &__seeMore {
            padding: 12px 24px;
            font-size: 16px;
        }

    }
}