@import "/src/app/[lng]/variables";

@keyframes appearModal {
  from {
    bottom: -20%;
    opacity: 0.7;
  }

  to {
    bottom: 10px;
    opacity: 1;
  }
}

.PoliciesCookies {
  background-color: transparent;
  position: fixed;
  bottom: 10px;
  z-index: 20;
  width: 80%;
  max-width: 490px;
  min-width: 280px;
  padding: 0;
  border: none;
  left: unset;
  margin-right: 0.7rem;
  animation: appearModal 1s ease-in-out;

  &__content {
    padding: 1rem;
    background-color: white;
    height: 98%;
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 1px 10px #adacace3;

    .content {
      &__title {
        font-size: 16px;
        margin-bottom: 4px;
      }

      &__text {
        font-size: 14px;
        margin-bottom: 8px;

        .text {
          &__link {
            font-family: $primary-font;
            color: $orange-500;
            font-size: 12px;
          }
        }
      }

      &__buttons {
        display: flex;
        justify-content: space-around;
        gap: 12px;

        .buttons {
          &__button {
            padding: 8px 14px;
            font-size: 14px;
            font-weight: 600;
            margin-top: 10px;

            &--accept {
              background-color: $orange-500;

              &:hover {
                background-color: $orange-600;
              }
            }

            &--decline {
              background-color: $black-045;

              &:hover {
                background-color: black;
              }
            }
          }

        }
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    &__content {

      .content {

        &__title {
          font-size: 20px;
        }

        &__text {
          font-size: 16px;
          margin-bottom: 8px;

          .text {
            &__link {
              font-size: 14px;
            }

          }
        }

        &__buttons {
          gap: 20px;

          .buttons {
            &__button {
              padding: 10px 20px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}