@import '/src/app/[lng]/variables';

.summary {
  border-collapse: collapse;
  padding: 10px;
}


.summary-select {
  padding: 0;

  .title {
    margin-bottom: 4px;
  }

  .title,
  .content {
    border-radius: 8px;
    border: 2px solid $grey-300;
    padding: 0.8em;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;

  h3 {
    font-size: 16px;
  }
}

.toggleButton {
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $grey-500;
  padding: 0;

  p {
    width: 16px;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    background-color: transparent;
  }
}

.content {
  margin-top: 10px;
}

.openArrow {
  transform: rotate(90deg);
}

.closeArrow {
  transform: rotate(270deg);
}

@media screen and (min-width: $min-tablet) {
  .summary {
    gap: 16px;

    & h3 {
      width: 280px;
    }
  }
}