@import "/src//app//[lng]/variables";

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.collapse {
    display: block;
    color: #23174B;
    padding-left: 10px;
    margin-bottom: 4px;
    font-family: $primary-font;
    position: relative;
    width: 96%;

    &__summary {
        display: block;
        -webkit-appearance: none;

        &::-webkit-details-marker {
            display: none;
        }
    }

    &[open] {
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-right: 2px solid;
            border-top: 2px solid;
            position: absolute;
            right: 0;
            top: 8px;
            transform: rotate(316deg);
            transition: transform 0.3s ease;
            z-index: -1;
        }
    }

    &::before {
        content: "";
        width: 6px;
        height: 6px;
        border-right: 2px solid;
        border-top: 2px solid;
        position: absolute;
        right: 0;
        top: 8px;
        transform: rotate(135deg);
        transition: transform 0.3s ease;
        z-index: -1;
    }

    &__content {
        margin: 8px;
        animation: fadeIn 0.8s ease-in-out;
    }
}