@import '/src/app/[lng]/variables';

.content-buttons {
    display: flex;
    gap: 2em;

    &__back {
        background-color: white;
        color: $orange-500;
        border: 1px solid $orange-500;
        padding: 0 20px;

        &:hover {
            background-color: initial;
        }

        :disabled {
            border-color: $grey-300;
        }
    }

    button {
        width: fit-content;
    }
}