@import '/src/app/[lng]/variables';

.counter {
    padding: 8px 16px;
    background-color: $blue-100;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    margin: auto;
    width: 100%;

    &__substract,
    &__add {
      cursor: pointer;
    }
}
