@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.groups-types {
  @include wonder-grid;
  margin-top: 80px;
  margin-bottom: 80px;

  &__title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 16px;
    span {
      color: $orange-500;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__types {
    text-align: center;
    display: flex;
    grid-column: 2 / -2;
    border: 1px solid $blue-700;
    border-radius: 10px;
    column-gap: 16px;
    align-items: center;

    li {
      width: 50%;
      padding: 24px;
      
      &:first-child {
        border-right: 1px solid $blue-700;
      }

      span {
        margin-bottom: 8px;
        display: block;
        font-family: $primary-font;
        font-size: 24px;
        font-weight: 600;
      }

    }

    .types__items-university {
      line-height: 2rem;
    }
  }
  @media screen and (max-width: $min-tablet) {
    padding: 16px;
    margin: 40px 0;

    &__title, &__description, &__types {
      grid-row: span 1;
      grid-column: 1 / -1;
    }

    &__types {
      flex-direction: column;
      padding: 0;

      li {
        width: 100%;

        &:first-child {
          border-right: 1px solid transparent;
          border-bottom: 1px solid $blue-700;
        }
      }
    }
  }

}