@mixin topography {
    background-image: url('/assets/images/topography.webp');
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    z-index: 10;
}

@mixin limitHeight {
    max-height: 1200px;
    min-height: 600px;

    @media screen and (min-width: $min-tablet) {
        min-height: 800px;
        max-height: 1000px;
    }
}