@import '/src/app/[lng]/variables';

.homepage {

    h1 {
        font-size: 68px;
    }

    h2 {
        font-size: 38px;
        padding-top: 38px;
        padding-bottom: 24px;
    }

    .top-section {
        position: relative;
        min-height: 70vh;
        color: $white;
        z-index: 10;

        .inner-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 70vh;
            z-index: 10;
        }

        .main-info {
            padding: 2rem 1rem 5rem;
            max-width: 800px;

            h1 {
                line-height: 1;
                padding: 1rem 0;
                color: $white;
                font-weight: 700;
            }

            p {
                font-size: 28px;
                font-family: $subtitle-font;
                font-weight: 600;
                padding: 1rem 0;
            }

            .search-wrap {
                padding: 1rem 0 0;
                display: flex;
                flex-direction: column;
                gap: 36px;
            }
        }
    }

    .social-proof-wrap {
        padding: 0 1rem;
    }

    @media screen and (max-width: 620px) {
        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 24px;
        }

        .top-section {
            .main-info {
                padding-top: 4em;

                p {
                    font-size: 14px;
                }
            }
        }
    }



}