@import '/src/app/[lng]/variables';

.load {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black-045;
  z-index: 1000;
}