@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.reviews {
  @include wonder-grid;
  margin-top: 120px;
  margin-bottom: 40px;

  &__title {
    font-size: 36px;
    line-height: 36px;
  }

  &__desc {
    margin-bottom: 24px;
  }

  &__review {
    @include wonder-grid;

    .review {
      &__item {
        grid-column: span 4;
        .item {
          &__name {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  @media screen and (max-width: $min-tablet) {
    padding: 16px;
    margin-top: 40px;
    margin-bottom: 40px;

    &__title {
      margin-bottom: 40px;
    }
    
    &__review {
      .review {
        &__item {
          margin-bottom: 28px;
          .item__name {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
