@import "../../../../../variables";


.overview {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
    height: auto;
    width: 100%;


    &__description {
        margin-bottom: 32px;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;

        .description {
            &__description {
                font-family: $secondary-font;
                width: 90%;
                padding-top: 16px;
                padding-bottom: 32px;
                font-size: 14px;
            }

            &__details {
                max-width: 400px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                width: 310px;

            }
        }
    }

    &__price {
        display: block;
    }

    @media screen and (min-width: $min-tablet) {
        flex-direction: row;

        &__description {


            .description {

                &__description {
                    font-size: 16px;
                }

            }
        }

        &__price {
            display: none;
        }
    }
}