@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';


.tabs-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;



  &__listing {
    max-width: 1280px;
    width: 100%;
    padding: 0 16px;

    .listing {
      &__title-section {
        font-size: 24px;
        padding-top: 38px;
        padding-bottom: 24px;
      }

      &__inner-content {
        max-width: 1280px;
        padding-bottom: 2em;

        .inner-content {
          &__title-section {
            color: $blue-700;
            font-size: 24px;
            padding: 2rem 0;
            padding-bottom: 2rem;
          }
        }
      }
    }
  }

  @media screen and (min-width:$min-tablet ) {


    &__listing {

      .listing {
        &__title-section {
          padding-top: 80px;
          padding-bottom: 24px;
        }

        &__inner-content {

          .inner-content {
            &__title-section {
              font-size: 38px;
              padding-top: 60px;
              padding-bottom: 42px;
            }
          }
        }


      }
    }
  }

}