@import '/src/app/[lng]/variables';

.toast {
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  color: $white;
  font-family: $secondary-font;
}

.toast.success {
  background-color: $green-400;
  color: #fff;
}

.toast.error {
  background-color: $error;
  color: #fff;
}
