@import "/src/app/[lng]/variables";

.search {
    display: flex;
    align-items: center;
    border: 1px solid $blue-800;
    border-radius: 40px;
    padding: 2px 8px;

    &__input {
        padding: 8px 16px;
        padding-left: 4px;
        border: none;
        width: 100%;
        font-size: 14px;
    }

    &__icon {
        display: flex;
        cursor: pointer;
        align-items: center;

        &--search {
            height: 100%;
            padding-right: 2px;
            margin-right: 2px;
            margin-top: 2px;
            margin-left: 1px;
        }

        &--close {
            border-radius: 50%;
        }
    }

    @media screen and (min-width: $min-desktop) {
        &__input {
            font-size: 16px;
            padding: 10px;
        }
    }
}