@import '/src/app/[lng]/variables';

.target-purpose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #f4f3ef66;
    padding: 10px;
    color: $white;
    backdrop-filter: blur(2px);
    font-size: 14px;
    width: 50%;
    font-weight: 600;
    max-width: 160px;

    img {
        height: 42px;
        width: 42px;
    }

    p {
        text-align: center;
    }

    @media screen and (min-width: $min-tablet) {
        padding: 24px;
        gap: 16px;
        max-width: 332px;

        img {
            height: 74px;
            width: 74px;
        }

        p {
            font-size: 20px;
        }
    }
}