.sliderContainer {
  overflow-x: auto;
  white-space: nowrap;
  margin: 24px 0;

  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh; // Esto asume que quieres que sea centrado verticalmente en toda la altura de la vista. Ajusta según sea necesario.
  }

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }


  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.card {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;

  &:last-child {
    margin-right: 0;
  }
}