@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';

.pagination-component {
  padding: 2rem 0;

  nav {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  p {
    cursor: pointer;
  }
}