@import '../../../variables';

.content-main {
  background-color: $cream;
  border-radius: 16px;

  &__hero {
    border-radius: 8px;
    padding: 16px;
    position: relative;
    gap: 0;

    .hero {

      &__title {
        margin-top: 0.5em;
        margin-bottom: 10px;
      }

      &__subtitle {
        margin-bottom: 12px;
        font-weight: 700;
        font-family: $subtitle-font;
        color: $blue-700;
      }

      &__location {
        display: flex;
        margin-bottom: 24px;
        color: $blue-700;
        font-weight: 700;
        font-size: 12px;
        align-items: center;
      }

      @media screen and (min-width: $min-tablet) {
        &__title {
          font-size: 50px;
        }

        &__subtitle {
          font-size: 28px;
          margin-bottom: 20px;
        }

        &__location {
          font-size: 20px;
        }
      }
    }
  }
}

.itinerary {
  padding: 0 1em;
  color: $blue-700;
  margin-top: 3em;
  width: 100%;
  height: 100%;

  &__content {
    display: flex;
    justify-content: space-between;

    .content {
      &__price {
        display: none;
      }

      &__description {
        width: 100%;
      }


      @media screen and (min-width: 820px) {
        &__description {
          width: 65%;
        }

        &__price {
          width: 30%;
          display: block;

          &>div {
            position: sticky;
            top: 4em;

          }
        }
      }
    }
  }
}