@import '/src/app/[lng]/variables';

.not-found {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $blue-700;
  h2 {
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 40px;
  }
}