@import '/src/app/[lng]/variables';

.additional-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 12px;

  &__additional-types,
  &__submit {
    grid-column: 1 / -1;

    input {
      width: 100%;
    }
  }


  &__submit {
    grid-column: 1 / -1;
    display: flex;
    gap: 8px;
    width: 100%;
    margin-top: 24px;

    button {
      width: fit-content;
    }
  }
}