@import '/src/app/[lng]/variables';

.data-profile {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5em;


    &__content-logo {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0;

        .content-logo {

            &__title {
                font-size: 24px;
                margin-bottom: 0.4em;
                margin-top: 1em;
                padding-left: 0.6em;
            }

            &__image {
                align-self: center;
                max-width: 390px;
            }
        }
    }

    &__content-form {
        overflow-x: auto;
        height: min-content;
        max-height: 54vh;
        padding-left: 1em;

        .content-form {

            &__content-sumary {
                &>div:first-child {
                    margin: 4px 0;
                    border-bottom: 2px solid $grey-300;
                    padding-left: 0;

                    &>div {
                        @media screen and (min-width: $min-tablet) {
                            margin-top: 4px;
                            margin-bottom: 12px;

                            &>h3 {
                                font-size: 20px;
                            }
                        }
                    }
                }

                &>div>p {
                    margin-top: 1.5em;
                    font-size: 14px;
                    color: $blue-700;
                    font-family: $secondary-font;

                    @media screen and (min-width: $min-tablet) {
                        font-size: 16px;
                    }
                }
            }
        }
    }


    &__send {
        width: 14em;
        align-self: flex-start;
        margin-left: 1em;
        margin-top: 1em;
    }

    .type-doc {
        width: 45%;
    }

    @media screen and (min-width: $min-tablet) {

        flex-basis: 45%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        &__content-logo {

            .content-logo {

                &__title {
                    font-size: 28px;
                }

            }
        }

    }

}


.content-form {
    display: flex;
    flex-wrap: wrap;
}