@import '/src/app/[lng]/variables';

.summary {
  color: $blue-700;
  padding: 24px 16px 40px;
  background-color: $cream;
  border-radius: 10px;
  height: 100%;
  width: 100%;

  & > * {
    animation: appear 1s ;
  }

  @keyframes appear {
    0%{opacity: 0;}
    100% {opacity: 1;}
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
  }

  &__start-date {
    span {
      font-weight: 700;
    }
  }
  &__end-date {
    span {
      font-weight: 700;
    }
    margin-bottom: 16px;
  }

  &__due-date {
    margin-bottom: 16px;

  }

  &__accomodation {
    margin-bottom: 16px;
  }

  &__price-title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
  }

  &__min-subtitle {
    font-weight: 700;
  }

  &__min {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    color: $orange-500;
  }

  &__total {
    color: $orange-500;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}
