@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.recognition {
  @include wonder-grid;
  margin-top: 80px;
  margin-bottom: 80px;

  &__title {
    grid-column: 2 / span 3;
    font-size: 36px;
  }

  &__description {
    grid-column: 2 / span 5;
  }

  &__certified {
    width: 100%;
    grid-column: 2 / span 5;
    display: flex;
    justify-content: space-between;


    li {
      display: flex;
      align-items: center;
    }

  }
  &__bellow {
    grid-column: 8 / span 4;
    grid-row: 2 / span 1;
    font-family: $primary-font;
    font-size: 28px;
  }

  &__association {
    grid-column: 8 / span 5;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  ul {
    padding: 0;
  }

  @media screen and (max-width: $min-tablet) {
    padding: 16px;
    margin-top: 40px;

    &__title,
    &__description,
    &__certified,
    &__bellow,
    &__association {
      grid-column: 1 / -1;
      grid-row: span 1;
    }

    &__description {
      margin-bottom: 24px;
    }

    &__certified {
      margin-bottom: 24px;
      img {
        width: 80%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__bellow {
      font-size: 24px;
      margin-bottom: 24px;
    }

    &__association {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
