@import '/src/app/[lng]/mixin';
@import '/src/app/[lng]/variables';

.link-trip {
    width: 100%;
    text-decoration: none;
    max-width: 28rem;

    &__card-trip {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        min-width: 250px;
        height: 280px;
        font-size: 10px;
        background-color: $black;
        flex-shrink: 0;

        .card-trip {
            &:hover &__feature-image img {
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                scale: 1.1;
            }

            &__feature-image {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 51%;
                top: 0;
                left: 0;
                background-color: #ddd;
                background-size: cover;
                z-index: 0;
                transition: all 0.25s;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    background-image: linear-gradient(to bottom, transparent, $black);
                    width: 100%;
                    height: 4rem;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            &__content {
                position: absolute;
                left: 10px;
                bottom: 10px;
                right: 10px;
                background: rgba(244, 243, 239, 0.32);
                backdrop-filter: blur(3.3698782920837402px);
                border-radius: 12px;
                padding: 15px;
                color: $white;

                .content {

                    &__title {
                        line-height: 15px;
                        color: $white;
                        font-size: 12px;
                    }

                    &__dates {
                        margin-bottom: 12px;
                    }

                    &__from,
                    &__per-person {
                        font-size: 10px;
                        font-family: $secondary-font;
                    }

                    &__price {
                        span:first-child {
                            font-weight: 700;
                            margin-right: 4px;
                        }
                    }

                    &__per-person {
                        margin-bottom: 6px;
                        margin-top: 2px;
                    }

                    &__days {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p:first-child {
                            font-family: $secondary-font;
                            font-weight: 700;
                        }

                        .days__days-nights {
                            background-color: $blue-700;
                            color: $white;
                            font-size: 10px;
                            border-radius: 10px;
                            padding: 5px 7px;
                            margin-top: 3px;
                            display: inline-block;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: $min-tablet) {
            font-size: 16px;
            height: 348px;

            .card-trip {
                &__content {
                    .content {

                        &__title {
                            line-height: 24px;
                            font-size: 18px;
                        }

                        &__dates {
                            font-size: 16px;
                        }

                        &__from,
                        &__per-person {
                            font-size: 14px;
                        }




                        &__days {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p:first-child {
                                font-family: $secondary-font;
                                font-weight: 700;
                            }

                            .days__days-nights {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}



.slider-trips-scroll::-webkit-scrollbar,
.orange-scroll::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
}

.slider-trips-scroll::-webkit-scrollbar-thumb,
.orange-scroll::-webkit-scrollbar-thumb {
    background-color: $orange-500;
    border-radius: 10px;
}