@import '/src/app/[lng]/variables';

.content {
  border-radius: 16px;
  box-shadow: 3px 3px 4px 0px $cream;

  &__title {
    padding: 16px 16px 0;
    background-color: $cream;
    border-radius: 16px 16px 0 0;
  }

  &__details {
    padding: 16px;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: space-between;

    .details {
      &__list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        justify-content: space-between;
        width: 100%;
        flex: 1 1 46%;

        .list {
          &__link {
            margin-left: 10px;
            margin-top: 2px;
            color: $orange-500;
            font-family: $primary-font;
            font-weight: 600;
          }
        }
      }
    }
  }

  @media screen and (min-width: $min-tablet) {
    &__details {

      .details {
        &__list {
          width: 46%;
        }
      }
    }
  }
}

.visa {
  &__text {
    padding-left: 0 !important;

    a {
      color: $orange-500;
    }
  }
}