@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.total {
  border: 1px solid $grey-100;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: $blue-700;
  font-family: $secondary-font;

  &__value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    & p:first-child {
      font-size: 16px;
      font-family: var(--secondary-font);
      font-weight: 700;
    }
    & p:last-child {
      font-size: 24px;
      font-family: var(--secondary-font);
      font-weight: 700;
    }
  }

  &__button,
  &__button-prev {
    width: 100%;

    &, & > button {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
      }
    }
  }

  &__button-prev {
    margin-bottom: 8px;
    & > button i > img {
      filter: brightness(0.5);
    }
    &:hover > button i > img {
      filter: drop-shadow(2px 4px 6px $grey-300);
    }

    i {
      &:first-child {
        margin-right: 8px;
        transform: rotate(90deg);
      }
    }
  }

  &__button {
    i {
      &:first-child {
        margin-right: 8px;
        transform: rotate(-90deg);
      }
    }
  }

  &__button-pay {
    width: 100%;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.11);
  }
}
