@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin'; 

.top-section {
    position: relative;
    height: 60vh;
    color: $white;
    z-index: 10;
    max-height: 1000px;
    margin-bottom: 16px;

    &::before {
        z-index: 10;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                rgba(0, 0, 0, 0.2) 82%,
                rgba(0, 0, 0, 0.9) 100%);
    }

    &__video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    &__content {
        padding: 0 16px;
        padding-bottom: 24px;
        height: 100%;
        position: relative;
        z-index: 20;


        .content {
            &__inner-content {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                z-index: 10;
                margin: 0px 0px 16px;

                h1 {
                    line-height: 1;
                    padding: 1rem 0;
                    color: $white;
                    font-weight: 700;
                    @include title('h2', 'dark');
                    font-size: 24px;
                }

            }

            &__main-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__btn {
                z-index: 20;
                border: none;
                width: 100%;
                border-color: $orange-500;
                font-weight: 700;
                font-family: $primary-font;
                font-size: 14px;
                cursor: auto;

                &:hover {
                    color: $white;
                }

                will-change: transform,
                opacity;
                animation: pulse 2s infinite;
                animation-timing-function: cubic-bezier(0.24, 0, 0.38, 1);

                span {
                    width: 10px;
                    height: 10px;
                    border-top: 1px solid;
                    border-right: 1px solid;
                    transform: rotate(136deg);
                    display: inline-block;
                }
            }
        }

        @media screen and (min-width: $min-tablet) {
            padding: 0 48px;
            padding-bottom: 42px;

            .content {
                &__inner-content {
                    margin: 80px 0px 56px;

                    .inner-content {
                        &__main-info {

                            h1 {
                                line-height: 1;
                                padding: 1rem 0;
                                margin-bottom: 62px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 450px) {
        height: 60vh;
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    25%,
    75% {
        transform: translate3d(0, 4px, 0);
        opacity: .8;
    }

    50% {
        transform: translate3d(0, 8px, 0);
        opacity: .5;
    }
}