@import '/src/app/[lng]/variables';

.custom-radio {
  display: flex;
  gap: 3em;
  border: 1px solid $grey-300;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 24px;
  color: $blue-700;

  input[type='radio'] {
    accent-color: $orange-500;
    appearance: none;
    border-radius: 2px;
    padding: 0.4em;
    border-radius: 50%;
    outline-color: $grey-300;
    border: none;

    &:not(:checked) {
      border: none;
      outline: 1px solid $grey-300;
      outline-offset: 3px;
      margin-right: 0.5em;
    }

    &:checked {
      margin-right: 0.5em;
      border: none;
      background-color: $orange-500;
      outline: 1px solid $grey-300;
      outline-offset: 3px;
    }
  }

  &.error {
    border: 2px solid $error;
  }

  @media screen and (min-widht: $min-tablet) {
    padding: 12px 16px;
  }
}