@import '/src/app/[lng]/variables';


.detail {
    display: flex;
    flex-flow: column wrap;
    font-size: 14px;
    align-items: center;
    align-items: flex-start;
    gap: 8px;


    &__title-list {
        display: flex;
        gap: 0.5em;
        align-items: center;

        .title-list {
            &__img {
                width: 14px;
                height: 14px;
            }

            &__text {
                font-size: 12px;
            }

            ul {
                padding-left: 1.8em;

                li {
                    list-style: disc;
                }
            }
        }
    }

    &__title {
        align-items: center;
        display: flex;
        gap: 0.5em;

        .title {
            &__img {
                width: 14px;
                height: 14px;
            }

            &__text {
                font-size: 12px;
            }
        }
    }

    p {
        font-size: 12px;
        padding-left: 1.5em;
    }

    &__list {
        padding-left: 24px;

        li {
            font-size: 12px;
            list-style: disc;
        }
    }

    @media screen and (min-width: $min-tablet) {
        font-size: 16px;

        &__title {
            .title {
                &__img {
                    width: 16px;
                    height: 16px;
                }

                &__text {
                    font-size: 18px;
                }
            }
        }

        &__title-list {

            .title-list {
                &__img {
                    width: 16px;
                    height: 16px;
                }

                &__text {
                    font-size: 18px;
                }
            }
        }

        p {
            font-size: 16px;
            padding-left: 1.5em;
        }

        &__list {
            li {
                font-size: 16px;
            }
        }
    }
}