@import '/src/app/[lng]/variables';

.summary-itinerary {
  background-color: $cream;
  border-radius: 16px;
  padding-top: 42px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.11);

  &__section {
    padding: 24px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    justify-self: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: $white;
    padding-bottom: 42px;

    .section {
      &__title {
        justify-self: flex-start;
        grid-column: 3 span;
        font-size: 20px;
        padding-bottom: 24px;
      }

      &__cta {
        grid-column: 3 span;
        margin-top: 16px;
        margin-bottom: 48px;
        width: 80%;
        max-width: 225px;
        justify-self: flex-start;
        margin-top: 18px;
      }

      &__content-days {
        display: flex;
        grid-column: 3 span;
        width: 100%;

        .content-days {
          &__steps {
            width: 100%;
          }
        }
      }

      @media screen and (min-width: $min-tablet) {
        justify-items: flex-start;

        &__title {
          font-size: 38px;
          padding-bottom: 42px;
        }

        &__buttons {
          grid-column: 3 span;
          display: flex;
          margin-bottom: 32px;
          gap: 8px;
          overflow-x: auto;
          width: 100%;
          padding-bottom: 12px;

          &::-webkit-scrollbar {
            height: 5px;
          }

          button {
            flex-shrink: 0;
            border-radius: 0;
            font-weight: 700;
            font-size: 24px;
            color: $blue-700;
          }

          .selected {
            border-bottom: 2px solid $orange-500;
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }

        &__cta {
          display: none;
        }
      }
    }
  }
}

.days {
  padding: 0;
  color: $blue-700;

  li {
    margin-bottom: 16px;
    cursor: pointer;
    width: 100%;
    font-size: $primary-font;
    border-bottom: 1px solid $grey-300;
  }

  li:hover h3 {
    color: $orange-500;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  details {
    padding: 0;
    position: relative;
  }

  details + details {
    margin-top: 20px;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    font-family: $primary-font;
  }

  summary ~ div > a,
  summary ~ a {
    font-size: 14px;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .control-icon {
    fill: $blue-700;
    transition: 0.3s ease;
    pointer-events: none;
  }

  .control-icon-close {
    display: none;
  }

  details[open] .control-icon-close {
    display: initial;
    transition: 0.3s ease;
  }

  details[open] .control-icon-expand {
    transform: rotate(180deg);
  }

  details[open] .control-icon-close {
    display: initial;
    transition: 0.3s ease;
  }

  .content {
    h4 {
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: $orange-500;
        border-radius: 50%;
        position: absolute;
        left: -3px;
        margin-top: 8px;
      }
      color: $orange-500;
    }
    div {
      margin-bottom: 16px;
    }
    margin-left: 16px;
  }

  @media screen and (min-width: $min-tablet) {
    summary {
      h3 {
        margin-bottom: 4px;
      }
    }
  }
}
