@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.accommodation {
  h2 {
    margin-bottom: 16px;
    
    @include title(h4);

  }
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__item {
    display: grid;
    grid-template-columns: 56px 1fr 24px;
    column-gap: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    color: $blue-700;

    &:hover {
      background-color: $orange-100;
    }

    &.selected {
      border: 1px solid $orange-500;
    }

    .item {
      &__img {
        place-self: center;
        border-radius: 5px;
      }

      &__info {
        .info {
          &__label {
            
            p {
              width: 100%;
              max-width: 180px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            & p:first-child {
              font-size: 20px;
            }

            & p:last-child {
              font-weight: 700;
            }
          }
        }
      }

      &__input {
        width: 16px;
        height: 16px;
        place-self: center;
        margin: 0;

        &[type='radio']:checked {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      margin-bottom: 16px;
    }

    button {
      margin-top: 24px;
    }
  }
}
