@import '/src/app/[lng]/variables';

.search-form {
    display: flex;
    flex-direction: column;
    gap: 16px;


    .search-form {
        &__search-wrap {
            display: flex;
            column-gap: 4rem;
            row-gap: 12px;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;

            .search-wrap {
                &__field {
                    font-size: 14px;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 700;

                    .field {
                        &__title {
                            font-size: 14px;
                            color: $white;
                            font-weight: 700;
                            padding-bottom: 8px;
                            padding-top: 0;
                        }

                        &__select {
                            border-radius: 11.7px;
                            background-color: #f4f3ef4d;
                            width: 100%;
                            border: none;
                            font-size: 14px;
                            backdrop-filter: blur(1.5px);

                            select {
                                border: none;
                                height: 45px;
                                padding: 12px;
                                padding-right: 2rem;
                                font-family: $secondary-font;
                                font-weight: 700;
                            }
                        }

                        &__range-dates {
                            background-color: #f4f3ef4d;
                            border-radius: 11.7px;
                            font-size: 14px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            backdrop-filter: blur(1.5px);

                            span {
                                font-weight: 700;
                            }


                            input[type="date"] {
                                text-align: center;
                                text-transform: lowercase;
                                color: $white;
                                background-color: transparent;
                                border: none;
                                font-weight: 700;
                                padding: 12px 16px;
                                position: relative;
                                -webkit-text-fill-color: white;

                                &::-webkit-input-placeholder {
                                    color: $white;
                                }

                                &::-webkit-calendar-picker-indicator {
                                    filter: invert(1);
                                    color: $white;
                                }

                                &::-webkit-calendar-picker-indicator {
                                    display: block;
                                    background: transparent;
                                    bottom: 0;
                                    color: transparent;
                                    cursor: pointer;
                                    height: auto;
                                    left: 0;
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }



        }

    }

    a>button {
        padding: 8px 16px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        align-self: end;
        margin-bottom: 12px;
        min-width: 232px;
    }

    @media screen and (min-width: $min-tablet) {
        gap: 24px;

        a {
            width: min-content;
        }

        .search-form {
            &__search-wrap {
                justify-content: flex-start;

                .search-wrap {
                    &__field {
                        width: fit-content;
                        font-size: 20px;

                        .field {
                            &- &__select {
                                width: 100%;


                                select {
                                    font-size: 16px;
                                }


                            }

                            &__range-dates {
                                font-size: 16px;
                                width: 100%;

                                input {
                                    font-size: 16px;
                                }
                            }


                        }
                    }
                }

            }

        }

        a>button {
            width: fit-content;
            padding: 12px 24px;
            margin-bottom: 42px;
            position: relative;
        }
    }
}