@import '/src/app/[lng]/variables';

.step {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 16px;
  max-width: 95%;
  position: relative;

  .step {
    &__text {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: min-content;

      h3 {
        font-size: 14px;
        margin-bottom: 4px;
        line-height: normal;
      }

      p {
        font-size: 14px;

      }
    }

    &__icon {
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (min-width: $min-tablet) {

    .step {
      &__text {
        h3 {
          font-size: 20px;
          line-height: 23px;
        }

        align-self: flex-start;
      }

    }
  }
}