@import '/src/app/[lng]/variables';

@keyframes ShoweCollapse {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 0.8;
    }

    100% {

        opacity: 1;
    }
}

.modal-image {
    width: 100%;
    height: 60%;
    background-color: $white;
    position: relative;
    border-radius: 8px;
    padding: 1.5rem;
    animation: ShoweCollapse 0.6s ease-in;

    &__close {
        background-color: white;
        border-radius: 60%;
        position: absolute;
        cursor: pointer;
        z-index: 10;
        right: 1rem;
        top: 1rem;
    }

    &__image-container {
        width: -webkit-fill-available;
        height: 100%;
        border-radius: 8px;
        overflow: auto;
        border: 2px solid $grey-300;
        border-radius: 8px;
        position: relative;

        .image-container {
            &__image {
                width: inherit;
                height: inherit;
                object-fit: contain;
            }
        }
    }

    @media screen and (min-width: $min-tablet) {
        width: 55%;
        height: 80%;
        padding: 2.5rem;

        &__image {
            align-items: center;

            img {
                width: 90%;
                height: 90%;
            }
        }
    }
}