@import '/src/app/[lng]/variables';

.custom-input {
  label {
    color: $blue-700;
    margin-bottom: 8px;
  }

  input {
    font-size: 14px;
    margin-top: 4px;
    width: 100%;
  }

  @media screen and (min-width: $min-tablet) {
    input {
      font-size: 16px;

    }

  }
}