@import '/src/app/[lng]/variables';
@import '../../mixin';
@import '/src/app/[lng]/mixin';

.ourPartners {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px 16px;
    padding-bottom: 3rem;
    height: auto;
    margin-top: -1.5rem;
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 42px;
        border-radius: 16px;
        padding: 24px 16px;

        .container {
            &__title {
                font-weight: 700;
                text-align: center;
                font-size: 24px;
            }

            &__assets {
                flex-direction: column;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 24px;

                img {
                    width: 200px;
                    height: 127px;
                    object-fit: contain;
                }
            }
        }
    }

    @media screen and (min-width: $min-tablet) {

        &__container {
            width: 100%;
            padding: 32px;

            .container {
                &__title {
                    font-size: 38px;
                    @include title('h2');
                    text-align: start;
                }

                &__assets {
                    justify-content: space-between;
                    flex-direction: row;
                    width: 80%;
                    margin: auto;

                    img {
                        height: 200px;
                        width: 200px;
                    }

                    .assets__procolombia {
                        width: 300px;
                    }
                }
            }
        }
    }
}