@import '/src/app/[lng]/variables';
@import '/src/app/[lng]/mixin';

.contact {
  @include wonder-grid;
  margin-top: 200px;
  margin-bottom: 200px;

  &__title {
    grid-column: 2 / span 5;
  }

  &__title {
    font-size: 36px;
    line-height: 38px;
  }

  &__desc {
    font-weight: 500;
  }

  &__desc,
  &__mail,
  &__cta-mail,
  &__social {
    grid-column: 7 / span 5;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
  }

  &__title {
    grid-row: 1 / span 1;
  }

  &__desc {
    grid-row: 2 / span 1;
    font-weight: 700;
  }

  &__mail {
    grid-row: 3 / span 1;

  }

  &__social {
    margin-bottom: 24px;
    grid-row: 4 / span 1;

  }

  &__cta-mail {
    grid-row: 5 / span 1;

    width: 100%;

    button {
      width: 100%;
    }
  }

  @media screen and (max-width: $min-tablet) {
    padding: 16px;
    margin-top: 40px;
    margin-bottom: 40px;

    &__title,
    &__desc,
    &__mail,
    &__cta-mail,
    &__social {
      grid-column: 1 / -1;
      grid-row: span 1;
    }

    &__title {
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 16px;
    }

    &__desc {
      margin-bottom: 80px;
    }

    &__mail, &__social {
      font-size: 16px;
    }

  }
}
