@import '/src/app/[lng]/variables';

.form-data-card {
  padding-right: 16px;
  margin-bottom: 56px;

  &__select-amount {
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__select-amount-fiel {
    border-radius: 5px;
    border: 2px solid $grey-300;
    margin-bottom: 32px;
    font-family: $secondary-font;
    color: $blue-700;

    .select-amount {
      &__deposit {
        margin-bottom: 8px;
      }
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 24;
  }

  &__desc {
    text-align: center;
    color: $blue-700;
    font-family: $secondary-font;
    max-width: 460px;
    margin: auto;
    margin-bottom: 4px;
  }

  &__wompi {
    position: relative;
    width: 100px;
    height: 40px;
    margin: auto;
    margin-bottom: 16px;
  }
  
  &__card-types {
    position: relative;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-bottom: 16px;

    img {
      object-fit: contain;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    margin: auto;
    margin-bottom: 40px;
    font-family: $primary-font;
    color: $blue-700;

    label,
    input {
      width: 100%;
    }
    label {
      margin-bottom: 4px;
    }
    input {
      margin-bottom: 8px;
    }

    .form {
      &__card-number-lb {
        grid-column: 1 / 4;
      }

      &__card-number {
        grid-column: 1 / 4;
      }

      &__cvc-lb {
        grid-column: 4 / 5;
        grid-row: 1 / span 1;
      }

      &__cvc {
        grid-column: 4 / 5;
      }

      &__exp-month,
      &__exp-month-lb {
        grid-column: 1 / 2;
      }

      &__exp-year-lb {
        grid-row: 3 / span 1;
      }

      &__exp-year-lb,
      &__exp-year {
        grid-column: 2 / 3;
      }

      &__installments {
        grid-column: 3 / 5;
        grid-row: 4 / span 1;
      }

      &__installments-lb {
        grid-column: 3 / 5;
        grid-row: 3 / span 1;
      }

      &__holder, &__email {
        grid-column: 1 / -1;
      }
    }
    .check {
      transition: 1s ease-in-out;
      border: 2px solid $green-400;
    }
  }

  &__terms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    label {
      margin-right: 8px;
    }
  }
}
