@import '/src/app/[lng]/variables';

.custom-select {
  select {
    width: 100%;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    border: 1px solid $grey-300;
    border-radius: 8px;
    padding: 1rem;
    padding-right: 2rem;
    padding: 8px 16px;
    color: $blue-700;

  }

  .select--transparent {
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    color: $white;

    option {
      color: $blue-700;
      background-color: $white;
    }

  }

  option {
    font-size: 24px;
  }
}