@mixin StylePage {
    font-family: $subtitle-font;

    h2 {
        font-size: 38px;
    }

    h1 {
        font-size: 68px;
    }

    h3 {
        font-size: 18px;
        padding-bottom: 1rem;
    }

    .top-section {
        background-color: #ddd;
        min-height: 360px;
        height: 55vh;
        color: $white;

        .inner-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 50vh;
        }

        .main-info {
            padding: 1rem;
            padding: 2rem 1rem;
            max-width: 900px;

            h1 {
                line-height: 1;
                // margin: 1rem 0;
                color: $white;
                font-weight: 700;
            }

            p {
                font-size: 28px;
                font-family: $subtitle-font;
                font-weight: 600;
                padding: 1rem 0;
            }

            .search-wrap {
                padding: 3rem 0 0;
            }
        }
    }

    .section-page {
        padding: 1rem;
    }

    .section-page-filter {
        padding: 2rem 1em 0;
    }

    .section-page-grid {
        padding: 0 1rem 3rem;
    }

    @media screen and (max-width: 620px) {
        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 24px;
        }

        .top-section {
            min-height: 152px;

            .main-info {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}