@import "/src/app/[lng]/variables";

.filterPrice {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    padding-right: 9px;

    &>p {
        height: 2rem;
        text-align: end;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $blue-700;

        &::after {
            content: " ";
            width: 6px;
            height: 6px;
            border-bottom: 2px solid $blue-700;
            border-right: 2px solid $blue-700;
            transform: rotate(45deg);
            margin-left: 0.5rem;
            transition: transform 0.2s linear;
        }

        &:hover {
            &::after {
                margin-top: 0.4rem;
                transform: rotate(226deg);
                transition: transform 0.2s linear;
            }
        }

        &:hover~div {
            display: flex;
        }
    }

    &__options {
        z-index: 10;
        position: absolute;
        top: 30px;
        right: 0;
        justify-content: flex-end;
        display: none;
        gap: 6px;
        flex-direction: column;
        background-color: $white;
        padding: 1rem 2rem;
        border-radius: 12px;
        width: fit-content;
        box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 14%);

        &:hover {
            display: flex;
        }

        .options {
            &__option {
                cursor: pointer;
                color: $blue-700;

                &--active {
                    color: $blue-700;
                    font-weight: 600;
                    text-decoration: underline;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}