@import '/src/app/[lng]/variables';

.slider {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.70);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 200;
  color: white;

  &__close-btn {
    position: fixed;
    top: 24px;
    left: 24px;
    width: 24px;
    height: 24px;
  }
  
  @media screen and (min-width: $min-tablet) {
    &__close-btn {
      width: 36px;
      height: 36px;
    }
  }

}