@import "/src/app/[lng]/variables";

.FilterHamburger {
    width: 100%;
    background-color: $white;
    z-index: 10;
    padding: 0.5em 1.2rem;
    position: sticky;
    top: 2.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;

    &__filters {
        flex-wrap: wrap;
        display: flex;
        gap: 8px;
        width: 100%;
        align-items: center;
        justify-content: center;


        .filters {
            &__button {
                flex: 1 1 110px;

                &>button {
                    height: fit-content;
                    padding: 0.3rem 0.8rem;
                    box-shadow: 0 4px 6px #00000042;
                    margin: 0;
                    font-size: 14px;
                }
            }

            &__search {
                flex: 0 1 60%;
            }
        }
    }


    &--open {
        padding: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        height: 100%;
        background-color: #00000054;
        transition: height, background-color, width, padding 0.3s ease-in-out;
    }

    &__content {
        position: absolute;
        right: 100%;

        &--open {
            position: sticky;
            top: 5rem;
            right: 0;
            transition: height, background-color, width, padding 0.4s ease-in-out;
            min-width: 180px;
            background: $white;
            max-width: 300px;
            padding: 1rem 2rem;
            height: 100%;
            width: 100%;
        }

        .content {

            &__filters {
                display: flex;
                flex-direction: column;
                position: sticky;
                top: 4rem;

                .filters {
                    &__close {
                        display: block;
                        align-self: end;
                        background-color: $blue-700;
                        padding: 4px 14px;
                    }
                }
            }
        }
    }

    @media screen and (min-width: $min-tablet) {
        top: 2.9rem;

        &--open {
            top: 0;
        }

        &__filters {
            &>* {
                display: none;
            }

            .filters {
                &__button {
                    display: block;
                }
            }
        }
    }

    @media screen and (min-width: $min-tablet) {
        &__filters {
            display: none;
        }
    }

    @media screen and (min-width: $min-tablet) {
        position: relative;
        max-width: 280px;
        min-width: 186px;
        width: 20%;
        top: 0;
        display: block;
        padding: 0;


        >button {
            display: none;
        }

        &--open {
            background-color: initial;
            padding-left: 0;
        }

        &__content {
            position: sticky;
            width: 100%;
            top: 4rem;

            &--open {
                padding: 0;
            }

            .content {

                &__filters {
                    .filters {

                        &__close {
                            display: none;
                        }
                    }
                }
            }
        }

        &button {
            display: none;
        }
    }
}