@import '/src/app/[lng]/variables';

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
    align-items: center;
    font-family: $subtitle-font;
    gap: 8px 24px;

    hr {
        justify-self: center;
        width: 1.5px;
        border: solid 1px #c0bfc2;
        height: 28px;
    }

    a {
        text-wrap: nowrap;
        padding-top: 1px;
        padding-bottom: 0.5em;
        text-decoration: none;
        color: inherit;
        text-align: center;
        color: $blue-700;
        font-size: 12px;
        text-transform: capitalize;
        font-weight: 700;
    }

    & :first-child {
        border-bottom: 2px solid $orange-500;
    }

    @media screen and (min-width: $min-tablet) {
        gap: 26px;

        a {
            font-size: 16px;
            max-width: 160px;
        }

        hr {
            height: 40px;
        }


    }

}