/* custom-toast.css */

/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
}
/** Classes for the displayed toast **/

.Toastify__toast {
}
/** Used to position the icon **/
.Toastify__toast-icon {
}
/** handle the notification color and the text color based on the theme **/

.Toastify__toast--success {
}

.Toastify__toast--error {
}

.Toastify__toast--warning {
}

.Toastify__toast--info {
}
.Toastify__progress-bar {
}

/** Classes for the close button. Better use your own closeButton **/

.Toastify__close-button {
}
