.checks {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);

    label {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}

.other {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;

    input,
    input:active {
        border: none;
        outline: none;
    }
}